/*
@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/open-sans.bold-webfont.eot');
    src: url('fonts/open-sans.bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/open-sans.bold-webfont.woff2') format('woff2'),
        url('fonts/open-sans.bold-webfont.woff') format('woff'),
        url('fonts/open-sans.bold-webfont.ttf') format('truetype'),
        url('fonts/open-sans.bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/open-sans.light-webfont.eot');
    src: url('fonts/open-sans.light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/open-sans.light-webfont.woff2') format('woff2'),
        url('fonts/open-sans.light-webfont.woff') format('woff'),
        url('fonts/open-sans.light-webfont.ttf') format('truetype'),
        url('fonts/open-sans.light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/open-sans.regular-webfont.eot');
    src: url('fonts/open-sans.regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/open-sans.regular-webfont.woff2') format('woff2'),
        url('fonts/open-sans.regular-webfont.woff') format('woff'),
        url('fonts/open-sans.regular-webfont.ttf') format('truetype'),
        url('fonts/open-sans.regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/open-sans.semibold-webfont.eot');
    src: url('fonts/open-sans.semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/open-sans.semibold-webfont.woff2') format('woff2'),
        url('fonts/open-sans.semibold-webfont.woff') format('woff'),
        url('fonts/open-sans.semibold-webfont.ttf') format('truetype'),
        url('fonts/open-sans.semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/* CSS Document */
/*Basic CSS*/

body,html{width:100%;padding:0;margin:0;font-family:open_Sansregular;overflow-x:hidden}input,textarea{border:0;outline:0}iframe{border:0;margin:0;padding:0}input,select,textarea,ul{margin:0;padding:0}li{list-style:none}h1,h2,h3,h4,h5,h6{padding:0;margin:0;font-weight:400}p{line-height:18px;margin:0;padding:0}a{outline:0;text-decoration:none;-moz-outline:0;color:inherit;}a:focus{outline:0;text-decoration:none;color:inherit;}a:hover{text-decoration:none;cursor:pointer}a.nounderline,a:active.nounderline,a:link.nounderline,a:visited.nounderline{text-decoration:none}a:hover.nounderline{text-decoration:underline}a img,img{border:none;text-decoration:none}button{cursor:pointer}input:focus,select:focus,textarea:focus{outline:0}

