.custom-datatable{
    font-size:13px;
}
.genratePass{
    color:blue;
    float:right;
    margin-top:5px;
    cursor:pointer;
    text-decoration: underline;
}
#map {
    height: 500px;
    margin: 0 auto 30px;
    width: 96%;
}

.help-block{
	color:red;
}
.disable{
    background: #ddd !important;
}
/*.help-block{
    color:red !important;
}*/
.custom-error{
    color:red !important;
}
