@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/open-sans.bold-webfont.eot');
    src: url('fonts/open-sans.bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open-sans.bold-webfont.woff2') format('woff2'),
         url('fonts/open-sans.bold-webfont.woff') format('woff'),
         url('fonts/open-sans.bold-webfont.ttf') format('truetype'),
         url('fonts/open-sans.bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/open-sans.light-webfont.eot');
    src: url('fonts/open-sans.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open-sans.light-webfont.woff2') format('woff2'),
         url('fonts/open-sans.light-webfont.woff') format('woff'),
         url('fonts/open-sans.light-webfont.ttf') format('truetype'),
         url('fonts/open-sans.light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/open-sans.regular-webfont.eot');
    src: url('fonts/open-sans.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open-sans.regular-webfont.woff2') format('woff2'),
         url('fonts/open-sans.regular-webfont.woff') format('woff'),
         url('fonts/open-sans.regular-webfont.ttf') format('truetype'),
         url('fonts/open-sans.regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/open-sans.semibold-webfont.eot');
    src: url('fonts/open-sans.semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open-sans.semibold-webfont.woff2') format('woff2'),
         url('fonts/open-sans.semibold-webfont.woff') format('woff'),
         url('fonts/open-sans.semibold-webfont.ttf') format('truetype'),
         url('fonts/open-sans.semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* CSS Document */
/*Basic CSS*/

body,html{width:100%;padding:0;margin:0;font-family:sourcesanspro-regular;overflow-x:hidden}input,textarea{border:0;outline:0}iframe{border:0;margin:0;padding:0}input,select,textarea,ul{margin:0;padding:0}li{list-style:none}h1,h2,h3,h4,h5,h6{padding:0;margin:0;font-weight:400}p{line-height:18px;margin:0;padding:0}a{outline:0;text-decoration:none;-moz-outline:0;color:inherit;}a:focus{outline:0;text-decoration:none;color:inherit;}a:hover{text-decoration:none;cursor:pointer}a.nounderline,a:active.nounderline,a:link.nounderline,a:visited.nounderline{text-decoration:none}a:hover.nounderline{text-decoration:underline}a img,img{border:none;text-decoration:none}button{cursor:pointer}input:focus,select:focus,textarea:focus{outline:0}


/** 1.1 add to cart hover home**/



/* =Header
-------------------------------------------------------------- */
.head_por{float:left;width:100%;padding:0 15px;}
header {
  width: 100%;
  height: 110px;
 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #151515;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  
  header h1#logo {
    display: inline-block;
    height: 110px;
    line-height: 110px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  header nav {
    display: inline-block;
    float: right; }
    header nav .head_login {
		position:relative;
     
      margin-left:5px;
     margin-top:25px;
      color: #fff !important;
		font-size:14px;
		border:2px solid #bc212d;
		padding:10px 20px;
		border-radius:3px;
		font-family:open_sansregular;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
		text-transform:uppercase;
		letter-spacing:2px;
	  }
	  header nav a:click, header nav a:focus, header nav a:visited{color:#fff;}
      header nav a:hover {
        background: #3C3838;
		color:#fff !important;
			
		}
		 header nav a:active{color:#fff;}
		.hg_bg{background:transparent;}
  header.smaller {
    height:86px;
	 background-color: #151515;
	}
	header.smaller nav .head_login{line-height:inherit !important;}
    header.smaller h1#logo {
      width: 150px;
      height: 85px;
      line-height: 75px;
      font-size: 30px; }
    header.smaller nav .head_login {
      line-height: 85px; }
	  
	.log_head_main{float:right;position:relative;margin-right:100px;}  
	
	.log_main_box, .log_main_box_regis{display:none;position:absolute;top:80px;right:-65px;width:320px;background:#fff;padding:15px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
	.show_now{display:block;}
	
	
	
	
	
	
	  
a.head_cen:before, a.head_trai:before, a.head_suppor:before /**a.head_login:before**/{content:'';position:absolute;top:10px;left:10px;height:20px;width:20px;}	  
.head_cen:before{background:url(../images/icon-add_cen.png) no-repeat;}
.head_trai:before{background:url(../images/icon-head-reg.png) no-repeat;}
.head_suppor:before{background:url(../images/icon-head-sup.png) no-repeat;}
/**.head_login:before{background:url(../images/icon-head-log.png) no-repeat;}**/

.mob_menu_new a.head_cen::before, .mob_menu_new a.head_trai::before, .mob_menu_new a.head_suppor::before, .mob_menu_new a.head_login::before{top:15px;}

/**mobile menu**/
.mob_menu_new{float:left;width:100%;border-top:3px solid #cc3333;display:none;height:90px;}
.nemnsel select{min-width: 110px;
    max-width: 100%;
    width: 100%;
    padding: 10px 10px 13px 44px;}
.nemnsel:before{top:-4px;left:17px;}
.nemnsel:after{top:-13px;height:41px;}
.mtest_menuxas{float:left;width:100%;padding:30px 0;}
.mnew_vis_sin_nd, .mmvieo_thum{float:left;width:100%;}
.mmvieo_thum{border:2px solid #fff;border-radius:7px;}
.mnew_vis_sin_nd a{padding:0;}
.mmvieo_thum img{width:100%;}
.mnvi_crnm{float:left;width:100%;font:16px 'open_sansregular';color:#fff;margin:10px 0;}
.mnvi_stunm{float:left;width:100%;font:16px 'open_sanssemibold';color:#fff;}
.view_mneall{float:left;width:100%;border-top:1px solid #c4c4c4;padding:40px 0 15px;margin-top:30px;text-align:center;}
.view_mneall a{padding:10px 30px;float:none;background:#da531e;color:#fff;font:18px 'open_sansregular';border-radius:5px;}
.mnew_why_nbv{float:left;width:100%;padding:30px 0;}
.mnew_why_sibl{float:left;width:20%;border-right:1px solid #19808C;margin-bottom:25px;padding:18px 0;}
.mnew_why_sibl a{padding:0;width:100%;text-align:center;}
.ymenu_txt{float:left;width:100%;text-align:center;font:18px 'open_sanssemibold';color:#fff;margin:15px 0 0;}
.rest-add{float:left;width:60%;}
.rest-add img{width:100%;}
.rest-add a{padding:0;}

.job_menugut{width:40%;}
.huundr_job{padding:0;}
.huundr_job .mnew_why_sibl{margin-top:3%;}




#home_banner, #fitnessshp{float:left;width:100%;}

/** 1.1 ban search **/

#home_banner{position:relative;}
.ban_srch{    background:url(../images/srch_bg.png);
    width: 560px;
    margin: 0 auto;
    height: 67px;
    padding: 10px;
	border-radius:5px;
	display:table;}
.main_srch_con{position:absolute;bottom:200px;width:100%;}
.srch_txt{float:left;width:100%;text-align:center;color:#fff;font:20px 'open_sansregular';margin-bottom:10px;}
.srch_txt span{float:left;width:100%;text-transform:uppercase;font:34px 'open_sanssemibold';}
.main {float:left;}

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}

.search {
    position: relative;
    margin: 0 auto;
    width:230px;
}

.search input {
    height:47px;
    width: 100%;
    padding: 0 25px 0 12px;
    background: white url("../images/search-down.png") 97% 20px no-repeat;
    
    border-radius: 4px;
   
    box-sizing: border-box;
	font:14px 'open_sanssemibold';
	color:#333333;
   
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
    top:46px;
    left: 0;
    right: 0;
    z-index:99;
    padding: 0;
    margin: 0;
   
    border-style: solid;
    
    border-radius: 3px;
    background-color: #fff;
   
    
	height: 200px;
    overflow-y: auto;
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }



.search .results a:hover {
    text-decoration: none;
   
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    
    }

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }




/**search drop with checkbox**/
.box{    float: left;
    position: relative;}
.sb_wrapper{
	margin:0;
	padding:0;
	position: absolute;
	top:0px;
	left:10px;
	width:530px;
	z-index:9;
}
.sb_wrapper input[type="text"],
ul.sb_dropdown{
	
	background: #fff; 
	
	font:14px 'open_sanssemibold';
	color:#B3ADAD;
	
	outline:none;
	padding:6px 5px 6px 12px;
	
	width:470px;
	float:left;
	margin:0px 0px;
	
}
.sb_input{height:47px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
ul.sb_dropdown{
	float:left;
	list-style:none;
	width:470px;
	padding:6px 5px;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	    height: 200px;
    overflow-y: auto;
}
ul.sb_dropdown li{
	font-size:16px;
	line-height:32px;
	height:32px;
	float:left;
	width:100%;
}
ul.sb_dropdown li label{font:14px 'open_sansregular';}
ul.sb_dropdown li input[type="checkbox"]{
	float:left;
	margin:4px 4px 0 5px;
}
ul.sb_dropdown li.sb_filter{
	width:100%;
	border:1px solid #f9f9f9;
	clear:both;
	background: #ddd;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#444;
	height:auto !important;
	line-height:16px;
	padding:5px;
	-moz-box-shadow:0px 0px 2px #777;
	-webkit-box-shadow:0px 0px 3px #555 inset;
	-box-shadow:0px 0px 3px #555 inset;

}
span.sb_up,
span.sb_down{
	position:absolute;
	top:20px;
	right:75px;
	width:14px;
	height:41px;
	
	background-repeat: no-repeat;
	z-index:10;
	
	
}
span.sb_up{
	background-image:url(../images/search-down.png);
}
span.sb_down{
	background-image:url(../images/search-down.png);
}
input.sb_search{
	background:#cc3333 url(../images/icon-search.png) no-repeat center center;
	height:47px;
	width:50px;
	float:left;
	border:none;
	margin:0px 0px 0px 10px;
	
	
	outline:none;
	cursor:pointer;
	border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;
	text-indent:100px;
}


/**mobile search**/


/**mobile menu**/
.mob_menu_new{float:left;background:#000;}
.mob_menu_new .dl-menuwrapper button{background:#000 url(../images/mobile-menu.png) no-repeat;width:30px;height:30px;top:35px;left:25px;}
.mob_logo{left: 34%;
    margin: 0 auto;
    position: absolute;
    top: 25px;
    width: 120px;}
.mob_logo img{width:100%;}
.log_icon{float:right;margin:30px 30px 0 0;}



/** 1.2 home banner **/
.ban_image{float:left;width:100%;}
.ban_image img{width:100%;}


/** 1.3 fitness shop **/
.bg_red{background:#bc212d;}
.bg_whit{background:#fff;}
.bg_gray{background:#e3e3e3;}
.btn_gray{background:#808080 !important;}
.btn_gray:hover{background:#757070 !important;}
#fitnessshp{}
.fit_blk_sh{position:relative;}
.fit_shp_hd{position:absolute;top:-35px;left:35%;}
.fit_hd_da{position:relative;background:#282828;font:32px 'open_sansLight';color:#fff;padding:11px 59px 10px;}
.fit_hd_da:before, .fit_hd_da:after{content:'';position:absolute;top:0;height:65px;width:31px;}
.fit_hd_da:before{left:0;background:#bc212d url(../images/fit-shp-lt.png) no-repeat;}
.fit_hd_da:after{right:0;background:#bc212d url(../images/fit-shp-rt.png) no-repeat;}

.fit_hd_da span{font-family:open_sanssemibold;}

.flt_wdt{float:left;width:100%;}
.shop_blk{float:left;width:20%;}
.shop_blk a{padding:70px 15px 40px;border-right:1px solid #d43c48;text-align:center;float:left;width:100%;}
.shop_blk a:hover{opacity:0.7;}
.fitsp_ic{height:80px;width:80px;margin:0 auto;}
.fitsp_head{font:22px 'open_sansregular';color:#fff;}
.fitsp_head p{font-size:15px;margin-top:5px;line-height:24px;}


/**light box log in**/

.login_lightbox{float:left;width:100%;}
.fomr_tp_ban{float:left;width:100%;}

.ligh_frm_hd{float:left;width:100%;margin:20px 0;font:24px 'open_sanssemibold';color:#1d1d1d;text-align:center;text-transform:uppercase;}
.light_frmfld{float:left;width:100%;padding:0;}
.frm_ip_fld{float:left;width:100%;position:relative;margin-bottom:10px;}
.frm_ip_fld input[type="text"]{float:left;width:100%;border:1px solid #c7c7c7;padding:10px;font:14px 'open_sansregular';color:#818181;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.frm_ip_fld input[type="text"]{padding-left:40px;}
.frm_icons{position:absolute;height:20px;width:22px;background:url(../images/form-icons.png) no-repeat;top:11px;left:11px;}
.icon-name{background-position:0px 0px;}  
.icon-email{background-position:0px -24px;}  
.icon-phone{background-position:0px -56px;}
.icon-pass{background-position:0px -90px;}



.frm_regis{float:left;background:#bd212e;color:#fff;font:16px 'open_sansregular';padding:8px ;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;width:100%;}
.log_options{float:left;width:100%;}
.log_ophd{float:left;width:100%;text-align:center;margin-bottom:10px;font:14px 'open_sanssemibold';color:#353535;text-transform:uppercase;}
.log_options ul{float:left;width:100%;text-align:center;}
.log_options ul li{display:inline-block;width:100%;margin:0 0 10px 0;text-align:left;}
.log_options ul li a{float:left;width:100%;font:16px 'open_sansregular';color:#fff;padding:9px 9px 9px 40px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.bg_fb{background:#3b5997 url(../images/logi_fb.png) 20px 7px no-repeat;}
.bg_gp{background:#d44936 url(../images/logi_gp.png) 10px 7px no-repeat;}
.regis_nees_s{float:left;width:100%;text-align:center;margin-bottom:0;}
.regis_nees_s a{font:15px 'open_sanssemibold';color:#bc212d;}

.log_tab{float:left;width:100%;margin-bottom:20px;}
.log_tab ul{float:left;width:100%;background:#BC212D;}
.log_tab ul li{float:left;width:50%;}
.log_tab ul li a{float:left;width:100%;background:#686868;color:#fff;text-align:center;font:16px 'open_sanssemibold';padding:15px 0;text-transform:uppercase;}
.log_tab ul li a.active, .log_tab ul li a:hover{background:#bc212d url(../images/red_Ar.png) no-repeat;}
.for_pwd{font:14px 'open_sansregular';color:#616161;}
.pop_regis{float:right;}
.pop_regis{padding:9px 0px 9px 9px;}
a.regis_txt{padding-right:20px;float:left;font:16px 'open_sansbold';color:#242424;background:url(../images/arw_blk.png) 98% no-repeat;text-transform:uppercase;}
.add_gum_lg{float:left;width:100%;margin: 10px 0 0 0;background: #eaeaea;padding:20px 10px;}
.add_gum_lg ul{float:left;width:100%;}
.add_gum_lg ul li{float:left;width:50%;}
.add_gum_lg ul li a.lt{float:left;}
.add_gum_lg ul li a.rt{float:right;}


/** 1.4 workout plans **/
.sec_head{float:left;width:100%;text-align:center;font:36px 'open_sansregular';color:#212121;margin-bottom:30px;}
.sec_head i.clr_or{color:#bc212d;font-style:normal;}
.sec_head span{position:relative;}
.sec_head span:before, .sec_head span:after{content:'';position:absolute;top:25px;height:2px;width:80px;background:#bc212d;}
.sec_head span:before{left:-100px;}
.sec_head span:after{right:-100px;}
.sechd_wht span:before, .sechd_wht span:after{background:#fff;}


.sec_head p{font:18px 'open_sansregular';color:#0e0505;}
#wrk_plan{float:left;width:100%;padding:40px 0 20px 0;background:#fff;}
.wrkot_plan{float:left;width:100%;margin-bottom:30px;}
.wrkot_plan a{float:left;width:100%;}
.plan_img{position:relative;}
.plan_img:before{content:'';top:0;left:0;position:absolute;height:100%;width:100%;background:#000;opacity:0;transition:0.3s ease-in;}
.plan_img img{width:100%;}
.wrkout_nm{background:#eeeeee;padding:15px;font:22px 'open_sanssemibold';color:#191919;position:relative;overflow:hidden;z-index:9;transition:0.3s ease-in;}
.wrkout_nm span{font-size:14px;color:#bc212d;transition:0.3s ease-in;}
.wrkout_nm:before{position:absolute;content:'';height:16px;width:13px;top:20px;right:8%;background:url(../images/arrow-right.png) no-repeat;}
.wrkout_nm:after{position:absolute;content:'';height:100%;width:100%;background:#bc212d;top:0;left:-100%;z-index:-1;transition:0.3s ease-in;}

.wrkot_plan a:hover .plan_img:before{opacity:0.3;}
.wrkot_plan a:hover .wrkout_nm:after{left:0;}
.wrkot_plan a:hover .wrkout_nm, .wrkot_plan a:hover .wrkout_nm span{color:#fff;}



/** free fittnes plan**/
#free_fit_pl{float:left;width:100%;}
.free_fit_ec{float:left;width:100%;}
.frr_fit_bg{background:url(../images/bg_srch.png) 10% 10% no-repeat;}	
.free_fit_txt{float:left;width:100%;margin:150px 0 50px;}
.fit_pla1{font:44px 'open_sansregular';color:#fff;text-transform:uppercase;text-align:center;}
.fit_pla2{font:72px 'open_sanssemibold';color:#fff;text-transform:uppercase;text-align:center;letter-spacing:-4px;line-height:60px;margin-bottom:10px;}
.free_fit_txt p{font:20px 'open_sansregular';color:#fff;text-align:center;}



.choose_gen{margin:50px 0;}
.chse_gen_blk{float:left;width:100%;background:#fff;padding:20px;}
.chose_pla_hd{text-align:center;font:26px 'open_sansregular';color:#2c2c2c;}
.gen_opt{float:left;width:100%;text-align:center;margin-top:10px;}
.grn_sub{display:inline-block;padding:0 10px;width:49%;}
.grn_sub img{width:100%:}
	
	

/**workut video**/
#workout_vid{float:left;width:100%;}
.bg_workvid{background:url(../images/bg_worg_video.jpg) no-repeat;background-size:cover;padding:30px 0 50px;}	
.video_rota{float:left;width:100%;}	
.wrk_vid_blk{float:left;width:100%;position:relative;}
.sechd_wht{color:#fff;}
.wrk_vid_tx{position:absolute;top:15px;left:2px;color:#fff;background:#bc212d;font:18px 'open_sanssemibold';z-index:9;padding:5px 9px;}
.play_thumb{height:47px;width:47px;z-index:9;position:absolute;bottom:10px;right:10px;background:url(../images/play-thumb.png) no-repeat;}
.view_all_btn{position:absolute;top:24px;right:110px;}

.view_all_btn a{background:#fff;color:#393939;font:13px 'open_sanssemibold';padding:6px 15px;}
	.video_rota .owl-controls{
    position: absolute;
    top: -60px;
    right: 0;
}
.gtrd{right:25px}	
.gtrd a{background:#cc3333;color:#fff;}
	.video_rota .owl-prev, .video_rota .owl-next{
    float: left;
    height: 30px;
    width:30px;
    text-indent: -100px;
    overflow: hidden;
}
	.video_rota .owl-prev{
    background: url(../images/cour-srrow-lt.png) no-repeat;
    margin-right:10px;
	}
	.video_rota .owl-next{
    background: url(../images/cour-srrow-rt.png) no-repeat;
}



/** health calculator**/

#fitness_calculator{float:left;width:100%;}
.bg_gry2{background:#eaeaea;}

.resp-tabs-list li{width:16.5%;font:18px 'open_sanssemibold' !important;padding:13px 10px 13px 60px !important;position:relative;}
.resp-tab-active{}
.cal_icn{position:absolute;top:20px;left:10px;height:40px;width:40px;background:url(../images/icons-calcu.png) no-repeat;}
.icn_walk{background-position:-15px -16px;}
.icn_run{background-position:-63px -16px;}
.icn_expe{background-position:-121px -16px;}
.icn_hert{background-position:-178px -16px;}
.icn_bmr{background-position:-234px -16px;}
.icn_fit{background-position:-295px -16px;}

.resp-tab-active .icn_walk{background-position:-15px -73px;}
.resp-tab-active .icn_run{background-position:-63px -73px;}
.resp-tab-active .icn_expe{background-position:-121px -73px;}
.resp-tab-active .icn_hert{background-position:-178px -73px;}
.resp-tab-active .icn_bmr{background-position:-234px -73px;}
.resp-tab-active .icn_fit{background-position:-295px -73px;}
.resp-tab-active  .calcu_portion{width:100%;}
.calu_head{float:left;width:100%;font:24px 'open_sansregular';color:#cc3333;border-bottom:1px solid #cccccc;padding-bottom:15px;margin:10px 0;}
.calcu_fields, .frm_sin_fld{float:left;width:100%;}
.calcu_fields{padding:30px 0;}
.frm_sin_fld{margin-bottom:15px;}
.frm_sin_fld1{float:left;width:40%;padding-right:20px;font:15px 'open_sanssemibold';color:#333333;text-align:right;padding-top:5px;}
.frm_sin_fld2{float:left;width:40%;padding-right:20px;}
.frm_sin_fld3{float:left;width:20%;padding-right:20px;}

.calcu_fields input[type="text"], .calcu_fields select{width:100%;border:1px solid #c4c4c4;padding:10px;font:14px 'open_sansregular';}
.cal_sub{margin-right:10px;background:#cc3333;color:#fff;font:16px 'open_sansregular';padding:7px 25px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;margin-bottom:10px;text-transform:uppercase;}
.cal_sub:hover{background:#A72727;}
.calcu_output{float:left;width:100%;padding:30px 0;}
.cal_out_icon{float:left;width:100%;text-align:center;}
.calcu_outtxt{float:left;width:100%;text-align:center;font:28px 'open_sansbold';color:#cc3333;margin-top:10px;}
.at_center{text-align:center;}
.at_right{text-align:right;}
.align_skip{position: absolute;
    bottom:95px;
    right: 135px;width:auto;}
.align_skip .cal_sub{padding:11px 25px;}

	
	
	
/** blog**/
#hh_blog{float:left;width:100%;position:relative;padding:0 0 110px 0;background:#262626;}	
.padd_ald{padding:30px 0 50px;}
.tp_at_tx{  position: absolute;
    bottom: 53px;
    left:1px;z-index:9;}
.blk_txt{  
    color: #fff;
    background: #0a0301;
    font: 24px 'open_sansregular';
    z-index: 9;
    padding: 5px 9px;}
.sub_blk_txt{ 
    color: #fff;
    background: #565251;
    font: 15px 'open_sansregular';
    z-index: 9;
    padding: 5px 9px;}
.blg_overlay{transition:0.3s ease-in;position:absolute;top:0;left:0;height:100%;width:100%;background:#000;z-index:9;opacity:0;}
.wrk_vid_blk:hover .blg_overlay{opacity:0.3;}








/**bottom about**/
.top-angle{
    position: absolute;
    width: 100%;
    left: 0;
    height: 151px;
    overflow: hidden;
    z-index: 2;
	bottom:0px;
}
.top-angle:before {
    top: -50px;
}
.top-angle:before{
    content: "";
    width: 100%;
    height: 150px;
    background:#bc212d;
    position: absolute;
    left: 0;
    -webkit-transform: rotate(3deg) skew(3deg) scale(1.1,1);
    -mox-transform: rotate(3deg) skew(3deg) scale(1.1,1);
    -ms-transform: rotate(3deg) skew(3deg) scale(1.1,1);
    -o-transform:  rotate(3deg) skew(3deg) scale(1.1,1);
    transform:  rotate(3deg) skew(3deg) scale(1.1,1);
}




#btm_intro{float:left;width:100%;}
.sec_pd{padding:40px 0 40px;}
.about_btm{float:left;width:100%;padding-right:20px;}
.about_btm p{font:14px 'open_sanssemibold';color:#585858;text-align:justify;}
.about_btm a{color:#bc212d;}
.btm_subs{position:relative;padding-left:65px;}
.btm_subs:before{content:'';position:absolute;top:5px;left:0;height:31px;width:47px;background:url(../images/icon-subs.png) no-repeat;}

.mail_subs{float:left;margin-top:5px;width:90%;}
.mail_subs ul{float:left;width:100%;}
.mail_subs ul li{float:left;width:100%;position:relative;}

.mail_subs ul li .btn_link{margin-top:0;background:#8c1929;}
.mail_subs_fil{float:left;width:100%;padding:10px;font:14px 'open_sanssemibold';color:#727272;border:1px solid #bbbbbb;border-radius:3px;}
.subs_btn{position:absolute;top:6px;right:6px;height:29px;width:29px;background:url(../images/subs-arow.png) no-repeat;overflow:hidden;text-indent:100px;}

/**new foot subs**/
#foot_subscribe{float:left;width:100%;background:#262626;padding:40px 0;}
.fot_sub_hd{float:left;width:100%;text-align:center;color:#fff;font:38px 'open_sansregular';}
.fot_sub_hd span{position:relative;padding-left:60px;}
.fot_sub_hd span:before{content:'';position:absolute;top:5px;left:0;background:url(../images/subscribe-icon.png) no-repeat;height:45px;width:45px;}
.fot_sub_key{float:left;width:100%;margin:20px 0 0 0;}
.fot_sub_key ul{float:left;width:100%;text-align:center;}
.fot_sub_key ul li{display:inline-block;font:16px 'open_sansregular';color:#fff;position:relative;padding-left:30px;margin:0 15px 10px 15px;}
.fot_sub_key ul li:before{content:'';position:absolute;top:0;left:0;background:url(../images/icon-check.png) no-repeat;height:23px;width:23px;}
.foot_su_frm_fl{float:left;width:100%;margin-top:20px;}
.foot_su_frm_fl ul{float:left;width:100%;text-align:center;}
.foot_su_frm_fl ul li{display:inline-block;margin:0 10px 10px 0;}
.foot_su_frm_fl ul li input[type="text"], .foot_su_frm_fl ul li select{padding:10px;font:14px 'open_sansregular';color:#535353;border:1px solid #c4c4c4;height:44px;line-height:44px;width:100%;}
.foot_su_frm_fl ul li input[type="submit"]{color:#fff;font:16px 'open_sansregular';background:#bc212d;padding:10px 20px;}
.foot_su_frm_fl ul li.fld_1{width:20%;}
.foot_su_frm_fl ul li.fld_2{width:20%;}
.foot_su_frm_fl ul li.fld_3{width:30%;}
.foot_su_frm_fl ul li.fld_4{text-align:left;}







/**add fitness center**/

#add_fit_cen{float:left;width:100%;}
.add_fit_train{float:left;width:100%;position:relative;text-transform:uppercase;font:22px 'open_sansregular';color:#282828;padding:30px 0 30px 85px;position:relative;}
.add_fit_train span{float:left;width:100%;font:48px 'open_sansbold';color:#bc212d;line-height:42px;letter-spacing:-4px;}
.add_fit_train:before{content:'';position:absolute;top:35px;left:0;height:70px;width:70px;}
.add_fit_train.cen_cin:before{background:url(../images/icon-center.png) no-repeat;}
.add_fit_train.cen_tra:before{background:url(../images/icon-fit_tra.png) no-repeat;}
.brr_rt{border-right:1px solid #c5c5c5;}



/**footer**/

.footer_tp{float:left;width:100%;background:#f2f2f2;padding:30px 0 0;}

.foot_head{float:left;width:100%;font:20px 'open_sanssemibold';color:#282828;text-transform:uppercase;margin-bottom:10px;}
.foot_sin_blk{float:left;width:100%;}
.foot_links{float:left;width:33%;}
.foot_links ul{float:left;width:100%;}
.foot_links ul li{float:left;width:100%;}	
.foot_links ul li a{float:left;width:100%;font:14px 'open_sanssemibold';color:#484848;margin-bottom:5px;}
.foot_links ul li a:hover{color:#bc212d;}	
	
.foot_new_log{float:left;width:100%;padding-left:70px;}
.foot_new_log ul{float:left;width:100%;}
.foot_new_log ul li{float:left;width:100%;margin-bottom:15px;}
.foot_new_log ul li a{float:left;width:100%;color:#fff;font:18px 'open_Sanssemibold';padding:10px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;max-width:313px;}	
.foot_new_log ul li a.log_sel{background:#313131 url(../images/icon-plus.png) 96% no-repeat;}
.foot_new_log ul li a.log_trai{background:#bc212d url(../images/icon-plus.png) 96% no-repeat;}
.mnefootblg {
    float: left;
    margin-top: 4px;
}
.mnefootblg a {
    margin-top: 10px;
    background: #313131;
    font: 20px open_sansbold;
    color: #fff!important;
    position: relative;
    border: 1px solid #fff;
    border-radius: 5px;
    padding:5px 10px 5px 40px;
    text-decoration: none!important;
}
.mnefootblg a:before {
    content: '';
    position: absolute;
    top:7px;
    left:10px;
    height:24px;
    width:24px;
    background: url(../images/blog-foot_icon.png) no-repeat;
}	
.mnefootblg a span {
    color: #dd3340!important;
}
	
	
	
	
	
.socila_icn{float:left;width:100%;padding-left:70px;margin-bottom:30px;position:relative;}
.socila_icn:before{content:'';position:absolute;top:6px;left:0;height:40px;width:40px;background:url(../images/stay_con.png) no-repeat;}	
	.smo_pnl_icons{width:100%; float:left;}
.smo_icons{width:36px; float:left;margin-right:2px;}
.hm_so_icn{background:url(../images/social-icon.png) no-repeat;}
.hm_so_icn{float:left;height:36px;width:36px;}
.hm_ic_fb{background-position:0px 0px;}
.hm_ic_twt{background-position:-37px 0px;}

.hm_ic_in{background-position:-75px 0px;}
.hm_ic_ytb{background-position:-113px 0px;}
.hm_ic_blk{background-position:-152px 0px;}
	 
	
.foot_touch{float:left;width:100%;padding-left:70px;}	
.foot_touch ul, .foot_touch ul li{float:left;width:100%;}
.foot_touch ul li a{font:14px 'open_sanssemibold';color:#484848;margin-bottom:20px;float:left;position:relative;padding:6px 0 0 50px;}
.foot_touch ul li a:before{content:'';position:absolute;top:0;left:0;height:31px;width:31px;}
.foot_touch ul li a.foot_mail:before{background:url(../images/icon-foot_mail.png) no-repeat;}
.foot_touch ul li a.foot_call:before{background:url(../images/icon-foot_call.png) no-repeat;}
.foot_touch ul li a:hover{color:#bc212d;}	
	
	
	
.copyright_pnl{float:left;width:100%;background:#262626;padding:15px 0;margin-top:20px;}	
.copyrght_right{float:left;width:70%;font:14px 'open_sansregular';color:#717171;}
.copyrght_left{float:left;width:100%;text-align:center;font:14px 'open_sanssemibold';color:#cfcfcf;}
	
	
	
	
	
#mob_links{float:left;width:100%;background:#cccccc;}	
.mob_links_s{float:left;width:100%;margin-bottom:20px;}
.mob_link_hd{float:left;width:100%;font:18px 'open_sansbold';color:#000;text-transform:uppercase;text-align:center;margin:30px 0 20px;}
.mob_link_hd span{color:#cc3333;}
.mob_links_s ul{float:left;width:100%}
.mob_links_s ul li{float:left;width:48%;margin:1%;}
.mob_links_s ul li a{float:left;width:100%;}
.mob_links_s ul li a img{width:100%;}	
	
	
	
	
/**breadcum**/
.main_int_body{float:left;width:100%;margin-top:110px;}
#breadcum{float:left;width:100%;}
.bredcum{float:left;width:100%;border-bottom:1px solid #c4c4c4;}	
.bredcum ul {
    float: left;
    width: 100%;
    margin: 0;
}
.bredcum ul li {
    float: left;
    position: relative;
    margin-right:5px;
    padding-right: 18px;
    color: #fff;
    font: 14px 'open_sansregular';
    text-decoration: none;
}
.bredcum ul li:before {
    content: '';
    height: 15px;
    width: 10px;
    position: absolute;
    right: 0;
    top:15px;
    background: url(../images/bread-arw.png) no-repeat;
}	
.bredcum ul li:last-child:before{background:none;}
.bredcum ul li a {
    float: left;
    color: #666666;
    font: 13px 'open_sansregular';
    text-decoration: none;
	padding:12px 0;
}
.bredcum ul li:last-child a{color:#cc3333;}
/**categary page**/		
.lft_fil_se{float:left;width:100%;}
.lft_fil_se .accordion_in .acc_content {
    padding-right: 0px !important;
	float:left;
}

	.cat_tp_ot{float:left;width:100%;padding:15px;border-bottom:1px solid #cccccc;}
	.shw_rsttc{float:left;font:24px 'open_sanssemibold';color:#000;}
	.com_rt{float:right;}
	.com_btn{float:left;margin-right:5px;}
	.com_btn a{float:left;background:#999999;font:14px 'open_sanssemibold';color:#fff;padding:7px 10px 7px 35px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;position:relative;}
	.com_btn a:before{content:'';position:absolute;top:8px;left:7px;height:25px;width:25px;background:url(../images/icon-com.png) no-repeat;}
	.tt_rslt{float:left;font:14px 'open_sanssemibold';color:#333;padding-top:5px;}
#cat_dis{float:left;width:100%;}	
.cat_main_dis{float:left;width:100%;background:#fff;}	
.cat_con_por{float:left;width:100%;box-shadow:0px 0px 4px #c4c4c4;margin-bottom:60px;}
.cat_blk1{float:left;width:20%;}	
.cat_blk2{float:left;width:80%;}
.pro_ldis{float:left;width:71%;box-shadow:2px 1px 9px #c4c4c4;-webkit-box-shadow:2px 1px 9px #c4c4c4;-moz-box-shadow:2px 1px 9px #c4c4c4;}	
.cat_blk3{float:left;width:29%;}	
.cat_fil_hdd{width:100%;padding:10px;background:#666666;font:20px 'open_sanssemibold';color:#fff;float:left;}


.filter_output{float:left;width:100%;}
.clr_al_flt{float:left;width:100%;padding:5px;}
.clr_al_flt a{float:right;text-transform:uppercase;color:#cc3333;font:14px 'open_Sanssemibold';}
.filter_output ul{float:left;width:100%;}
.filter_output ul li{float:left;margin:5px;background:#c3c3c3;padding:4px 8px;}
.closetocros{background:url(../images/icon_cros_fil.png) no-repeat;height:15px;width:15px;float:left;margin-top:6px;}




.pro_list_vie, .list_sin_blk, .list_sin_tp, .list_sin_btm{float:left;width:100%;}	
	
.cat_fil_lt{float:left;width:100%;}	
.cat_fil_lt .acc_head{font:15px 'open_sanssemibold';color:#000;border-bottom:1px solid #c4c4c4;border-top: 1px solid #ccc;}
.filter_fld{float:left;width:100%;padding:10px 0;max-height:145px;overflow-y:auto;}
.filter_fld ul{float:left;width:100%;}
.filter_fld ul li{float:left;width:100%;margin:0 0 6px 0;}
.filter_fld ul li label, .filter_fld ul li{font-weight:normal;font:14px 'open_sanssemibold';color:#666666;}
.filter_fld ul li label{margin-bottom:0;width:100%;}










.list_sin_blk{border-bottom:1px solid #c4c4c4;padding:15px;padding-left:40px;position:relative;}
.com_check{position:absolute;top:12px;left:15px;}	
.list_sin_des{float:left;width:100%;position:relative;padding-left:160px;min-height:120px;margin-bottom:20px;}
.sing_img{width:145px;position:absolute;top:0;left:0;}	
.sin_rt_dis{float:left;width:100%;position:relative;padding-right:100px;}	
.sin_gym_nm{float:left;color:#cc3333;font:20px 'open_sanssemibold';width:100%;margin-bottom:10px;}
.sin_srt_rt{position:absolute;top:0;right:0;}
.reve_txt{float:right;color:#fff;font:14px 'open_sansregular';background:#999999;padding:3px 6px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.revi_nm{font:14px 'open_sanssemibold';color:#cc3333;float:right;margin-top:3px;}
.sin_des_da ul{float:left;width:100%;}	
.sin_des_da ul li{float:left;width:100%;font:14px 'open_sanssemibold';color:#333333;margin-bottom:9px;position:relative;padding-left:25px;}	
.icnlt{content:'';position:absolute;top:0;left:0;height:20px;width:20px;background:url(../images/cat-loc.png) no-repeat}	
.icn_loc{background-position:0px 0px;}	
.icn_tym{background-position:0px -27px;}	
.icn_price{background-position:0px -56px;}	

	
.list_sin_btm{}


.zym_lt_cat{float:left;}	
.zym_lt_cat ul{float:left;}	
.zym_lt_cat ul li{float: left;
    font: 12px 'open_sanssemibold';
    color: #333333;
    border: 1px solid #cc3333;
    padding:7px 10px;
	text-transform:uppercase;
    margin-right: 5px;
    border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;}
.book_demo{float:right;}	
.btn_link{background: #cc3333;
    color: #fff;
    text-transform: uppercase;
    font: 14px 'open_sansregular';
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding:7px 20px;
   }
.btn_link:hover{color:#fff;}	
	
	
.cat_rt_add{float:left;width:100%;padding:15px;}
.add_sin_blk{float:left;width:100%;margin-bottom:15px;}	
.add_sin_blk img{width:100%;}	
.reco_vido{float:left;width:100%;margin-bottom:15px;}	
.rec_vd_hd{float:left;width:100%;font:20px 'open_sanssemibold';color:#000;margin-bottom:10px;}	
.rc_vdo_blk{float:left;width:100%;margin:0 0 15px 0;}	
.rc_vdo_blk img{margin-bottom:10px;width:100%;}
.rc_vdo_blk a{font:18px 'open_sansbold';color:#cc3333;}	



/** inner search **/
#inr_srch{float:left;width:100%;}
.intrnl_srch{float:left;width:100%;background:#cc3333;padding:15px 0;}
.intrnl_srch .ban_srch{padding:0;background:none;width:690px;height:auto;}
.intrnl_srch input.sb_search{background:#902323 url(../images/icon-search.png) no-repeat center center}
.src_ittxt{float:left;font:18px 'open_sansregular';color:#fff;text-transform:uppercase;text-align:right;margin-right:10px;width:135px;}


/**pagination**/
.pagination_s{float:left;width:100%;margin:15px 0;}
.pagination_s ul{float:left;width:100%;text-align:center;}
.pagination_s ul li{display:inline-block;}
.pagination_s ul li a{float:left;padding:6px 10px;font:15px 'open_sanssemibold';color:#333333;border:1px solid #c4c4c4;margin-right:-5px;}	
.pagination_s ul li a.active, .pagination_s ul li a:hover{color:#fff;background:#cc3333;}




/**cat bottom artical**/
.arti_hds{float:left;width:100%;font:20px 'open_sanssemibold';color:#000000;margin-bottom:15px;}
.sug_article{float:left;width:100%;margin:40px 0 60px;}
.sug_art_blk{float: left;
    
    position: relative;
    padding: 0px 10px 0 210px;
    width:100%;
    min-height: 145px;
	margin-bottom:35px;
   }
  
	.arti_img{width:191px;
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;}
.art_nm{float:left;width:100%;font:24px 'open_sansbold';color:#000;line-height:25px;margin-bottom:10px;}
.art_brf{float:left;width:100%;font:15px 'open_sansregular';color:#333333;}
.view_all_ar{float:left;width:100%;text-align:center;}

.menu_mo_hide{display:none;}





/**detail page**/
.int_tp_ban, .inr_ban_img{float:left;width:100%;}
.inr_ban_img{position:relative;}
.inr_ban_img img{width:100%;}
.ban_gym_dt{position:absolute;left:30px;bottom:70px;}
.ban_gym_intro{float:left;position:relative;padding-left:155px;}
.bn_gym_dtlog{position:absolute;top:0;left:0;height:138px;width:138px;}
.gym_dt_nm{float:left;background:url(../images/white_trans.png) ;padding:20px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.show_gym_str{float:left;width:100%;margin-top:5px;color:#bc212d;}
.show_gym_str img{width:auto;}
.gym_dt_social{float:left;width:100%;}
.gym_dt_social ul{float:left;width:100%;}
.gym_dt_social ul li{float:left;margin-right:10px;}



.gym_nm{font:28px 'open_sansregular';color:#bc212d;}
.sms{font: 12px 'open_sanssemibold';
    color: #fff;
    background: #666666;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;float:right;margin:13px 0 0 15px;}
.ban_gym_ad{float:left;position:relative;font:18px 'open_sansregular';color:#313131;padding-left:25px;margin-top:2px;}
.ban_gym_ad:before{content:'';position:absolute;top:0;left:0;height:30px;width:30px;background:url(../images/ban_loc-blk.png) no-repeat;}
.ban_gym_stdt{position:absolute;bottom:20px;right:25px;}
.ban_gym_stdt li{float:left;margin-left:10px;}
.ban_str_rt, .ttl_str{float:left;margin-top:7px;font:15px 'open_sansregular';color:#fff;}
.ttl_str{margin-left:10px;}
.ban_gym_stdt li a.ban_atg{float:left;height:42px;width:42px;background:#666666 url(../images/icon-ban-et.png) no-repeat;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.ban_gym_stdt li a.pro_edit{background-position:9px 8px;}
.ban_gym_stdt li a.pro_sh{background-position:-33px 8px;}
.req_dem{float:left;color:#fff;font:16px 'open_sansregular';background:#cc3333;text-transform:uppercase;padding:10px 15px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.bg_graysd{background:#737373;}
.req_dem:hover{color:#fff;}
.int_main_dis{float:left;width:100%;}
.bg_ne_clr{background:#F5F5F5;}
.int_lt{float:left;width:72%;box-shadow:0px 0px 18px #c4c4c4;-webkit-box-shadow:0px 0px 18px #c4c4c4;-moz-box-shadow:0px 0px 18px #c4c4c4;padding-top:30px;background:#fff;}
.in_lt_tp{float:left;width:100%;padding:0 25px;}

.lft_sing_blk{float:left;width:100%;margin-bottom:20px;}
.lft_sing_blk p{font:14px 'open_sansregular';color:#494949;line-height:24px;text-align:justify;}
.lft_head{float:left;width:100%;font:24px 'open_sanssemibold';color:#1a1a1a;margin-bottom:10px;}
.pics_lt ul{float:left;width:100%;}
.pics_lt ul li{float:left;margin:0 9px 10px;}
.pics_lt ul li:first-child{margin-left:0;}
.pics_lt ul li:last-child{margin-right:0;}


.int_faci_blk ul li{float:left;width:31%;font:14px 'open_sanssemibold';color:#494949;padding:0px 0 13px 35px;position:relative;border-bottom:1px solid #ccc;margin-bottom:10px;margin-right:2%;}
.icon_faci{float:left;position:absolute;top:0;left:0;background:url(../images/icon-faci.png) no-repeat;height:30px;width:30px;}
.faci_ic_1{background-position:0px -2px;}
.faci_ic_2{background-position:-35px -2px;}
.faci_ic_3{background-position:-63px -1px;}
.faci_ic_4{background-position:-96px -2px;}
.faci_ic_5{background-position:-122px -2px;}
.faci_ic_6{background-position:-152px 0px;}
.faci_ic_7{background-position:-188px -3px;}
.faci_ic_8{background-position:-212px -3px;}
.faci_ic_9{background-position:-244px -2px;}
.faci_ic_10{background-position:-275px -2px;}
.faci_ic_11{background-position:-307px -3px;}



.inr_vid_int{float:left;width:100%;}
.inr_vid_int img{width:100%;}

.int_membr_blk ul{float:left;width:100%;}
.int_membr_blk ul li{float:left;width:23%;margin:0 1% 1% 1%;border:1px solid #c4c4c4;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.mmplan_1, .mmplan_2{float:left;width:100%;text-align:center;}
.mmplan_1{font:14px 'open_sanssemibold';color:#333333;margin-bottom:5px;text-decoration:line-through;}
.mmplan_2{font:20px 'open_sanssemibold';color:#bc212d;margin-bottom:10px;}
.mm_bk_pl{float:left;width:100%;margin-bottom:10px;text-align:Center;font:15px 'open_sansregular';color:#fff;text-transform:uppercase;background:#bc212d;padding:8px 10px;}


.mnew_write_re{float:left;width:100%;padding:30px;border-top:1px solid #c4c4c4;}
.revi_inp_fld{float:left;width:100%;}
.revi_inp_fld ul{float:left;width:100%;}
.revi_inp_fld ul li{float:left;width:100%;margin-bottom:15px;}
.revi_inp_fld ul li input[type='text'], .revi_inp_fld ul li textarea{float:left;width:100%;padding:10px;font:14px 'open_sansregular';color:#535353;border:1px solid #c4c4c4;}
.revi_inp_fld ul li textarea{max-width:100%;max-height:100px;height:100px;}
.review_subd{float:left;color:#fff;font:16px 'open_sansregular';background:#bc212d;padding:7px 20px;}
.revie_wr_ttl{float:left;width:100%;font:20px 'open_Sanssemibold';color:#121212;margin-bottom:20px;}
.give_strrt{float:left;width:100%;}






.in_lt_btm{float:left;width:100%;border-top:1px solid #c4c4c4;padding:20px 30px;}
.det_cmt_box{float:left;width:100%;}
.sin_cmt_box{float:left;width:100%;margin-bottom:20px;position:relative;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;box-shadow:0px 0px 10px #c4c4c4;-webkit-box-shadow:0px 0px 10px #c4c4c4;-moz-box-shadow:0px 0px 10px #c4c4c4;}
.cmt_lt_img{position:absolute;top:0;left:0;padding:20px;width:200px;}
.cmtr_img{float:left;width:100%;margin-bottom:10px;}
.cmtr_img img{max-width:96px;}
.smtr_det{float:left;width:100%;font:13px 'open_sanssemibold';color:#333333;margin-top:0px;}
.smtr_det span{color: #fff;background: #cc3333;width: 30px;display: inline-block;text-align: center;height: 30px;border-radius: 15px;-webkit-border-radius: 15px;-moz-border-radius: 15px;padding: 6px;}
.num_rev{float:left;width:100%;font:13px 'open_sanssemibold';color:#666666;}

.sub_reply_gym{float:left;width:100%;}

.sub_reply_sec{float:left;width:100%;padding:20px;border:1px solid #c4c4c4;}
.sub_repl_sin{float:left;width:100%;position:relative;padding-left:57px;min-height:50px;}
.sub_reply_pic{position:absolute;top:0;left:0;}

.replier_nm{float:left;width:100%;font:14px 'open_sanssemibold';color:#2d2d2d;}
.time_ago_rp{float:left;width:100%;font:13px 'open_sanssemibold';color:#797979;margin-bottom:5px;}
.sub_repl_sin p{color:#555555;font:13px 'open_sansregular';}
.like_sike_btn{float:left;width:100%;margin-top:5px;}
.like_sike_btn ul{float:left;width:100%;}
.like_sike_btn ul li{float:left;margin-right:10px;}
.like_sike_btn ul li a{float:left;}
.like_sike_btn ul li a:hover{color:#bc212d;}
.reply_input{float:left;width:100%;margin:15px 0;}
.reply_input input{width:100%;padding:10px;font:open_sansregular;color:#646464;border-radius:5px;background:#f5f5f5;}







.cmt_rt_det{float:left;width:100%;padding:0px 0px 0px 200px;}
.rt_sub_hol{float:left;width:100%;padding:10px 10px 10px 30px;border-left:1px solid #c4c4c4;position:relative;}
.nmae_lv1{float:left;width:100%;font:18px 'open_sansbold';color:#bc212d;margin-bottom:5px;}
.det_rt{float:left;width:100%;margin-bottom:10px;}
.cmt_mr{float:left;width:100%;margin-top:10px;}
.cmt_mr a{float:left;font:13px 'open_sanssemibold';color:#cc3333;padding-right:20px;position:relative;}
.cmt_mr a:before{content:'';position:absolute;top:7px;right:0;height:10px;width:10px;background:url(../images/arow_red.png) no-repeat;}

.cmt_rt_det p{font:13px 'open_sansregular';color:#555555;line-height:21px;}
.like_ds_btn ul{float:left;width:100%;}
.like_ds_btn ul li{float:left;margin:20px 15px 10px 0;}
.like_ds_btn ul li.rprt{float:right;}
.like_ds_btn ul li a.like_in{float:left;background:#bc212d;padding:7px 14px 7px 30px;color:#fff;;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;font:14px 'open_sansregular';color:#fff;position:relative;}
.like_ds_btn ul li a.like_in:hover{background:#98232C;}
.like_ds_btn ul li a.like_in:before, .like_ds_btn ul li a.Report:before{content:'';height:20px;width:30px;position:absolute;top:6px;left:0;background:url(../images/like-dis.png) no-repeat;}
.like_ds_btn ul li a.Report{font:14px 'open_sanssemibold';color:#666666;padding:7px 7px 7px 25px;float:left;position:relative;}
.like_ds_btn ul li a.Report:before{background-position:-80px 0px;}
.like_ds_btn ul li a.like:before{background-position:5px 0px;}
.like_ds_btn ul li a.dislike:before{background-position:-23px 0px;}
.like_ds_btn ul li a.reply:before{background-position:-50px 0px;}


.int_rtt{float:left;width:28%;padding:20px;}

.gym_tym_info{float:left;width:100%;border-bottom:4px solid #cc3333;}



.tim_inf_sin_b{float:left;width:100%;position:relative;padding:0 0 20px 30px;margin-bottom:20px;border-bottom:1px solid #c4c4c4;}
.gym_tym_info .tim_inf_sin_b:last-child{border-bottom:none;margin-bottom:0;}
.info_icns{content:'';position:absolute;top:0;left:0;height:30px;width:30px;background:url(../images/icon-tym.png) no-repeat;}
.ic_cll{background-position:0px 4px;}
.ic_clk{background-position:0px -40px;}
.ic_pay{background-position:0px -75px;}
.ic_shardd{background-position:0px -117px;}
.req_cl{float:right;}
.req_cl a{float:left;font:12px 'open_sanssemibold';color:#fff;background:#666666;padding:5px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.open_tm{background:#339900;font:12px 'open_sanssemibold';color:#fff;padding:5px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}

.gym_num{float:left;font:18px 'open_sanssemibold';color:#1a1a1a;margin-bottom:10px;}
.gym_hour{float:left;width:100%;}
.gym_call ul li{float:left;width:100%;margin-bottom:5px;font:18px 'open_sanssemibold';color:#bc212d;}
.gym_hour ul li{float:left;width:100%;margin-bottom:5px;font:14px 'open_sanssemibold';color:#494949;}



.rt_quck_lnk{float:left;width:100%;margin:20px 0 30px; }
.rt_quck_lnk ul li{float:left;width:100%;margin-bottom:5px;}
.rt_quck_lnk ul li a{float:left;width:100%;position:relative;padding-left:20px;font:15px 'open_sanssemibold';color:#be222e;}
.rt_quck_lnk ul li a:before{content:'';position:absolute;height:10px;width:10px;left:5px;top:5px;background:url(../images/arrow-quci.png) no-repeat;}

.simi_sug{float:left;width:100%;}
.imi_gym_sug{float:left;width:100%;margin-bottom:20px;}
.imi_gym_sug1, .imi_gym_sug2, .imi_gym_sug3, .imi_gym_sug4{float:left;width:100%;}
.imi_gym_sug1 img{width:100%;margin-bottom:5px;}
.imi_gym_sug2{font:18px 'open_sansbold';color:#000000;}
.imi_gym_sug a:hover .imi_gym_sug2{color:#bc212d;}
.imi_gym_sug3{font:14px 'open_sanssemibold';color:#666;}







/**artical page**/
.arti_pg{padding:0;}
.arti_pg .cat_rt_add{padding:0;}
.arti_pg .rec_vd_hd{padding:20px 20px 0 15px;}
.arti_pg .add_sin_blk{padding:0 20px;}
.arti_sin_blk{border-bottom:1px solid #ccc;padding:25px;float:left;width:100%;}
.arti_cat{float:left;width:100%;margin-bottom:5px;font:14px 'open_sanssemibold';color:#cc3333;text-transform:uppercase;}
.arti_sin_des{float:left;width:100%;position:relative;padding-left:250px;min-height:120px;margin-bottom:20px;}
.art_sing_img{width:230px;position:absolute;top:0;left:0;}	
.art_sing_img img{width:100%;}
.art_rt_dis{float:left;width:100%;}	
.arti_nm{float:left;color:#000000;font:24px 'open_sansbold';line-height:25px;margin-bottom:10px;}
.art_rt_dis p{font:15px 'open_sansregular';color:#666666;margin-bottom:10px;}


.arti_by{float:left;width:100%;margin-top:10px;}
.arti_by ul{float:left;width:100%;}	
.arti_by ul li{float:left;font:14px 'open_sanssemibold';color:#999999;margin-bottom:9px;position:relative;padding-left:30px;margin-right:15px;}
.arti_by ul li.arti_vff:hover{color:#cc3333;}
.arti_by ul li.arti_vff{padding-left:45px;}
.wri_img{position:absolute;top:-5px;left:0;width:33px;height:33px;}	
.wri_img img{width:100%;}
.arti_ic{content:'';position:absolute;top:0;left:0;height:20px;width:21px;background:url(../images/arti_sh.png) no-repeat}	
.icn_loc{background-position:0px 0px;}	
.icn_cal{background-position:0px 0px;}	
.icn_sfsd{background-position:-30px 0px;}	
.icn_cmt{background-position:-87px 0px;}	
.icn_time{background-position:-58px 0px;}	
.reco_arti{float:left;width:100%;margin-bottom:10px;}
.rc_rec_blk{float:left;width:100%;padding:9px 15px 15px 85px;position:relative;min-height:90px;border-bottom:1px solid #ccc;margin-bottom:15px;}
.rec_img{position:absolute;top:0;left:7px;width:75px;}
.rec_img img{width:100%;}
.rc_rec_blk a{font:14px 'open_sanssemibold';color:#cc3333;}
.reco_arti .rc_rec_blk:last-child{border-bottom:none;}
.right_cat{float:left;width:100%;margin-bottom:20px;padding:0 20px;}
.right_cat ul li{float:left;width:100%;margin-bottom:5px;}
.right_cat ul li a{font:14px 'open_sanssemibold';color:#666666;padding-left:25px;position:relative;float:left;width:100%;}
.right_cat ul li a:before{content:'';position:absolute;top:4px;left:0;height:12px;width:12px;background:url(../images/icon-cir.png) no-repeat;}







h2.resp-accordion{position:relative;padding:20px 10px 20px 60px !important;font:20px 'open_sanssemibold' !important;}


/**article detail page**/
.article_det_blk{float:left;width:100%;padding:0 25px;}
.arti_dt_hd{float:left;width:100%;font:31px 'open_sanssemibold';color:#000000;line-height:32px;margin-bottom:10px;}
.arti_dt_ban{float:left;width:100%;margin:15px 0;}
.arti_dt_ban img{width:100%;}
.social-share{float:left;width:100%;text-align:right;margin:10px 0;}
.arti_dt_pos{float:left;width:100%;margin-top:10px;border-bottom:2px solid #c4c4c4;}
.arti_dt_pos p, .arti_dt_pos{font:14px 'open_sansregular';color:#666666;line-height:24px;}
.arti_dt_pos p{margin-bottom:20px;}
.arti_dt_pos h3{font:22px 'open_sanssemibold';color:#333333;margin-bottom:5px;}
.rela_ar_sg{float:lef;width:100%;font:18px 'open_sanssemibold';color:#333333;margin-bottom:10px;}
.rela_ar_sg a{color:#cc3333;}
.rela_ar_sg a:hover{text-decoration:underline;}
.arti_highlight{float:left;width:100%;padding:10px 10px 10px 20px;border-left:5px solid #cc3333;color:#cc3333;font:24px 'open_sansbold';margin:15px 0 25px;background:#F9F9F9;}
.rec_head{font:24px 'open_sanssemibold';color:#cc3333;margin-bottom:10px;}
.recomeed_arti{float:left;width:100%;padding:25px;}
.rec_arti_blk{float:left;width:100%;}
.rec_arti_blk ul li{float:left;width:31.2%;margin-right:3%;}
.rec_arti_blk ul li:last-child{margin-right:0 !important;}
.rec_ar_img{float:left;width:100%;}
.rec_ar_img img{width:100%;}
.rec_ar_head{float:left;width:100%;font:17px 'open_sansbold';color:#333333;margin:5px 0;}
.rec_arti_blk ul li a:hover .rec_ar_head{color:#cc3333;}


.mrd_art{border-bottom:1px solid #c3c3c3;padding-bottom:20px;}












/**my account**/
.my_acc_log{float:right;margin-top:40px;}
.my_acc_log ul li{float:left;margin-left:30px;}
.my_acc_log ul li a.message, .my_acc_log ul li a.notifi{height:20px;width:20px;float:left;position:relative;margin-top:10px;}
.my_acc_log ul li a.message{background:url(../images/icon_log_msg.png) no-repeat;}
.my_acc_log ul li a.notifi{background:url(../images/icon-notification.png) no-repeat;}
i.noti_tp_num{content:'';position:absolute;height:20px;width:20px;background:#669933;color:#fff;border-radius: 20px;top:-13px;right: -11px;text-align:center;font:11px 'open_sansregular';padding:1px 0;}
.clr_rd{background:#cc3333 !important;}
.acc_proimg{float:left;position:relative;padding:8px 0 8px 45px;font:13px 'open_sansregular';color:#fff;cursor:pointer;}
.acc_pro_img{position:absolute;height:37px;width:37px;top:0;left:0;}
.acc_proimg span{background:url(../images/icon-drop-w.png) right 50% no-repeat;padding-right:20px;}
.my_acc_hdr{float:left;width:100%;background:url(../images/acc-head.jpg) 50% 50%;padding:32px 0;}
.my_acc_nm{float:left;padding-left:15px;color:#fff;font:28px 'open_sansbold';}
.my_acc_nm span{font:16px 'open_sansregular';color:#cccccc;}
.my_acc_lc{font:15px 'open_sansregular';color:#fff;position:relative;padding-left:20px;}
.my_acc_lc:before{content:'';position:absolute;top:3px;left:0;background:url(../images/acc_location.png) no-repeat;width:9px;height:16px;}
.my_acc_rev{float:right;margin:15px;}
.my_acc_rev .btn_link{padding:9px 20px 9px 40px;position:relative;}
.icon-review{background:url(../images/icon-review.png) no-repeat;position:absolute;top:6px;left:9px;height:23px;width:23px;}
.pro_left_menu{float:left;width:100%;margin-top:-70px;}
.profile_img{float:left;width:100%;margin-bottom:50px;}
.profile_img_pl{height:150px;width:150px;border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;margin:0 auto;background:#fff;border:5px solid #fff;box-shadow:0px 0px 5px #c4c4c4;}
.profile_img_pl img{width:100%;}
.pro_left_menu ul li{padding:0 10px;}
.pro_left_menu ul li a{float:left;width:100%;font:14px 'open_sanssemibold';color:#333;position:relative;border-bottom:1px solid #ccc;padding:10px 0 10px 30px;}
.pro_left_menu ul li a:hover{color:#cc3333;}
.icn_myacc{content:'';position:absolute;height:20px;width:20px;top:10px;left:0;background:url(../images/icon-myacc.png) no-repeat;}
.my_pro{background-position:0px 0px;} 
.demo_ses{background-position:0px -39px;}
.wrkout_pln{background-position:0px -80px;} 
.diet_pla{background-position:0px -120px;} 
.my_rev{background-position:0px -158px;} 
.rt_gym{background-position:0px -197px;} 
.mesg{background-position:0px -238px;} 
.my_alert{background-position:0px -278px;} 
.mylgout{background-position:0px -320px;}
.mid_alert{float:left;width:100%;padding:15px;font:22px 'open_sanssemibold';color:#cc3333;background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #E2E2E2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #E2E2E2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #E2E2E2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #E2E2E2); /* Standard syntax */}
.profile_mid_blk{float:left;width:100%;min-height:1000px;}
.no_msg_yet{float:left;width:100%;padding:100px 0;text-align:center;}
.no_msg_img{width:200px;margin:0 auto;}
.alert_message{float:left;width:100%;text-align:center;font:18px 'open_sansregular';color:#333333;margin-top:10px;}
.rece_saw_gym{float:left;width:100%;margin-bottom:20px;}
.rece_saw_gym ul li{float:left;width:100%;margin-bottom:10px;}
.rece_saw_gym ul li a{font:14px 'open_sanssemibold';color:#cc3333;position:relative;float:left;width:100%;padding-left:15px;}
.rece_saw_gym ul li a:before{content:'';position:absolute;top:5px;left:0;height:11px;width:5px;background:url(../images/icon-arow-pro.png) no-repeat;}
.rece_saw_gym ul li a span{float:left;width:100%;font:13px 'open_sansregular';color:#666666;margin-top:6px;}


/**alert section 2**/
.alrt_msg_lis{float:left;width:100%;}
.alrt_lis_sin{float:left;width:100%;padding:20px 30px 10px 50px;border-bottom:2px solid #c4c4c4;position:relative;}
.alrt_lis_sin:before{content:'';position:absolute;height:25px;width:25px;background:url(../images/icon-art-bel.png) no-repeat;left:15px;top:22px;}
.alrt_row{float:left;width:100%;margin-bottom:5px;}
.hdxt{font:16px 'open_sanssemibold';color:#cc3333;}
.alrt_row p{font:14px 'open_sansregular';color:#666666;}
.alrt_row .arti_by{margin-top:5px;}


/**diet plan 1**/
.choose_bst_plan{float:left;width:100%;padding:30px;border-top:1px solid #c4c4c4;}
.choose_bst_plan .choose_gen{margin:0 0 10px 0;background:#fff;box-shadow:0px 0px 5px #c4c4c4;}
.head_acc_pl{font:20px 'open_sanssemibold';color:#cc3333;margin-bottom:10px;}

/**diet plan 2**/
.rec_cros{float:left;width:100%;}
.rec_cros .imi_gym_sug{width:48%;margin-right:4%;}
.rec_cros .imi_gym_sug:nth-child(2n){margin-right:0;}
.diet_plan_cat{float:left;width:100%;font:14px 'open_sanssemibold';color:#cc3333;margin:8px 0;}
.rec_cros .imi_gym_sug2{margin-bottom:10px;}
.cal_sub:hover{color:#fff;}













.imi_gym_sug4 .cal_sub{padding:7px 18px;margin-bottom:10px;}
.diet_paln_list{float:left;width:100%;}
.diet_paln_list .sin_rt_dis{padding-right:0;}
.diet_paln_list .diet_plan_cat{margin-top:0;}
.diet_paln_list .sin_gym_nm{color:#333333;min-height:47px;}

.diet_paln_list .arti_by ul li:first-child{padding-left:0;}
.diet_paln_list .arti_by ul li{margin-right:10px;}
.diet_paln_list .list_sin_blk{padding:30px;}




/**my account mobile**/
.my_accout_mo{background:url(../images/bg-mo-myacc.jpg) !important;}
.my_acc_mo{float:left;width:100%;}
.my_acc_mo ul li{float:left;width:50%;border-bottom:1px solid #333333;border-right:1px solid #333333;}
.my_acc_mo ul li:nth-child(2n){border-right:none;}
.my_acc_mo ul li a{float:left;width:100%;padding:25px 10px;}
.fld_icn{float:left;width:100%;text-align:center;min-height:40px;}
.fld_nm{float:left;width:100%;text-align:center;color:#fff;text-transform:uppercase;font:16px 'open_sansregular';}

.my_acco_mn .mob_logo{left:7%;}
.my_acco_mn .my_acc_log{margin-top:25px;margin-right:10px;}
.my_acco_mn .my_acc_log ul li{margin-left:20px;}
.my_acco_mn .my_acc_log ul li:first-child{margin-left:0;}
.my_acco_mn .my_acc_log ul{border-top:none;}
.my_acco_mn .my_acc_log ul li a{padding:0;border-bottom:none;}
.my_acco_mn .my_acc_log ul li a.message:hover{background:rgba(0, 0, 0, 0) url("../images/icon_log_msg.png") no-repeat scroll 0 0;}
.my_acco_mn .my_acc_log ul li a.notifi:hover{background:rgba(0, 0, 0, 0) url("../images/icon-notification.png") no-repeat scroll 0 0;}
.mid_alert{position:relative;}
.my_bck_pg{position:absolute;right:16px;top:15px;}








.add_rwow{font:14px 'open_sanssemibold';color:#bc212d;}
.my_scc_frm{float:left;width:100%;padding:20px 0 20px 20px;}
.my_scc_frm ul{float:left;width:100%;}
.my_acc_djd{float:left;width:100%;font:18px 'open_sanssemibold';color:#cc3333;margin-bottom:15px;}
.my_scc_frm ul li{float:left;width:100%;padding-right:20px;margin-bottom:20px;}
.my_scc_frm ul li.halftwo{width:50%;}
.my_scc_frm ul li.halfthr{width:25%;}
.ip_fld_m{float:left;width:100%;}
.txt_lbl{float:left;width:100%;font:14px 'open_sanssemibold';color:#333333;margin-bottom:10px;}
.ip_fld_m input[type="text"], .ip_fld_m select, .ip_fld_m textarea{float:left;width:100%;border:1px solid #c4c4c4;font:14px 'open_sansregular';color:#666666;padding:10px;min-height:43px;}
.ip_fld_m textarea{max-width:100%;min-height:100px;max-height:100px;}
.ip_fld_m select{line-height:37px;}
.mrbt_10{margin-bottom:15px;}
/**rate gym 2**/
.sin_gym_nm_rt{float:left;width:100%;position:relative;font:18px 'open_sanssemibold';color:#cc3333;padding-right:116px;min-height:75px;}
.overall_rt{position:absolute;top:0;right:0;text-align:center;font:36px 'open_sanssemibold';color:#cc3333;border:1px solid #c4c4c4;width: 110px;padding:0px 9px 7px;background:#F3F1F1;border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;}
.overall_rt span{float:left;width:100%;font-size:13px;color:#666666;}
.gym_rt_dis{float:left;width:100%;font:14px 'open_sansregular';color:#666666;position:relative;padding-left:20px;}
.icn_lo{position:absolute;height:15px;width:9px;top:4px;left:3px;background:url(../images/icon-location.png) no-repeat;}
.rt_djhr{float:left;width:100%;font:14px 'open_sanssemibold';color:#cc3333;margin-bottom:5px;}
.my_rt_wro{float:left;width:100%;}
.my_rt_wro .reve_txt{float:left;margin-right:10px;}
.rt_gym_btm{float:left;width:100%;font:14px 'open_sansregular';color:#666;}
.btm_img_shw_cs{float:left;width:100%;margin-top:15px;}
.btm_img_shw_cs ul li{float:left;margin:0 10px 10px 0;}
.ftclr_rd{color:#cc3333;margin:10px 0 5px !important;}
.mrbtmst{margin-top:10px;border-top:1px solid #c4c4c4;padding:10px 0;}

.str_rt{float:left;margin-right:10px;}
.rev_tim{position:relative;float:left;padding-left:30px;font:13px 'open_sansregular';color:#cc3333;}
.up_new{padding:15px 0;}
.up_new a{font:14px 'open_sanssemibold';color:#cc3333;}
.mrbtbtt{margin-bottom:0px;border-bottom: 1px solid #c4c4c4;padding: 10px 0;}
.chat_names{float:left;width:100%;background:#666666;}
.prsn_nm{float:left;width:100%;color:#fff;font:12px 'open_sansregular';}
.wrk_chat_blk{float:left;width:100%;text-align:center;padding:15px 0;border-right:1px solid #4A4A4A;}
.wrk_chat_blk a img{width:50px !important;display:inherit !important;}
.chat_messages{float:left;width:100%;padding:30px;}
.prsn_reply{float:left;width:100%;position:relative;padding-left:50px;}
.persn_img{height:37px;width:37px;position:absolute;top:0;left:0;}
.persn_img img{width:100%;}
.cht_pr_nm{float:left;font:16px 'open_sanssemibold';color:#cc3333;}
.btm_msg_all{float:left;width:100%;padding:20px;background:#E0E0E0;margin-top:10px;font:14px 'open_sansregular';color:#666;line-height:24px;}
.my_replu_chat{float:left;width:100%;margin:30px 0;padding-left:50px;}
.reply_msgbx{float:left;width:100%;margin-top:15px;padding-left:50px;}
.cht_anss{float:left;width:100%;border:1px solid #c4c4c4;min-height:150px;padding:10px;font:14px 'open_sansregular';color:#666;margin-bottom:15px;}











/**seller**/
	/**seller 1**/
.icn_sellacc{content:'';position:absolute;height:20px;width:20px;top:10px;left:0;background:url(../images/icon-seller.png) no-repeat;}
.cen_pro{background-position:0px -7px;} 
.cen_faci{background-position:0px -34px;}
.cen_vid{background-position:0px -59px;} 
.cen_demos{background-position:0px -87px;} 
.cen_revs{background-position:0px -117px;} 
.cen_trains{background-position:0px -144px;} 
.cen_ance{background-position:0px -167px;} 
.cen_alrt{background-position:0px -190px;} 
.cen_lgut{background-position:0px -215px;}	
.no_pd{padding:0;}
.check_bx{float:left;width:100%;padding:35px 0 15px 0;font:14px 'open_Sanssemibold';color:#363636;}	
.frm_gg{float:left;width:100%;margin-top:5px;}	
.frm_gg a{color:#3281af;font:14px 'open_sanssemibold';}
.lb_sub, .txt_lbl span{font:14px 'open_sansregular';color:#767676;}	
.fll{float:left;}
.frt{float:right;}
.rt_accty{float:right;margin:-15px 15px 0 0;}
.acc_typed, .acc_ty_de{text-align:center;text-transform:uppercase;}	
.acc_typed{font:12px 'open_sansbold';color:#363636;background:#fff;padding:10px;}
.acc_ty_de{font:18px 'open_sansregular';color:#fff;background:#ec5918;padding:14px 10px;}
.profile_updsta{float:left;width:100%;margin-bottom:20px;}
.pro_cir_sta{float:left;width:100%;text-align:center;margin:20px 0 35px;}
.update_btnd{float:left;width:100%;text-align:center;}
.sub_btn{color:#fff;padding:10px 30px;font:16px 'open_sansregular';text-transform:uppercase;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.bg_red{background:#bc212d;}





	/**seller 3**/

.sl_faci_blk{float:left;width:100%;margin-bottom:20px;}	
.sl_faci_blk ul{float:left;width:100%;}
.sl_faci_blk ul li{float:left;width:33%;margin-bottom:4px;}
.nmew_tmim ul li{width:100%;}
.lis_slct_blk{float:left;width:100%;}
.lis_slct_blk label{font:14px 'open_sansregular';color:#333333;}
.tm_slctn{float:left;width:100%;}
.day_lis{float:left;margin-right:5px;border:1px solid #c4c4c4;font:14px 'open_sanssemibold';color:#666666;padding:8px 12px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.day_lis.selected{background:#cc3333;color:#fff;}
.ontxt{float:left;width:100%;font:14px 'open_sanssemibold';color:#333333;margin-bottom:5px;}
.sl_alllab{float:left;}
.sl_alllab label{font:14px 'open_sanssemibold';color:#666666;padding:7px;}
.open_cl_tm{float:left;width:100%;margin-bottom:20px;}
.timimg_fld{float:left;width:200px;margin-right:10px;margin-bottom:20px;}
.timimg_fld input{float:left;width:100%;border:1px solid #c4c4c4;padding:10px;font:13px 'open_sansregular';color:#333;}
.lbclis{padding:24px 0 0;}
.slcdpdp{float:left;width:50%;}
.slcdpdp select{float:left;width:100%;padding:10px;font:13px 'open_sansregular';color:#333;margin-bottom:20px;}
.upl_btn{float:left;width:100%;}




/****/
.vid_hol_blk{float:left;width:100%;margin-bottom:50px;}
.slr_pic_tp{float:left;width:100%;margin-bottom:15px;}
.msg_hdd{font:18px 'open_sanssemibold';color: #cc3333;margin-top: 10px;float:left;}
.slr_rt_op{float:right;}
.slr_rt_op a{margin-left:10px;margin-bottom:10px;}

.btn_link{float:left;padding:10px 20px;color:#fff;font:16px 'open_sansregular';}
.red_clr{background:#bc212d;}
.icn_add, .icn_skip{padding:10px 15px 10px 40px;position:relative;}
.icn_add:before, .icn_skip:before{content:'';height:21px;width:21px;position:absolute;top:10px;left:10px;}
.icn_add:before{background:url(../images/add_plus.png) no-repeat;}
.icn_skip:before{background:url(../images/icon-skip.png) no-repeat;}
.gray_clr{background:#7e7e7e;}









.slr_pic_blk{float:left;width:100%;padding:7px;border:1px solid #c4c4c4;}
.slr_pic_blk ul li{float:left;width:25%;padding:3px;}
.slr_img_blk{float:left;width:100%;position:relative;}
.slr_acc_img{float:left;width:100%;}
.slr_acc_img img{width:100%;}
.icon_play{position:absolute;top:38%;left:40%;height:40px;width:40px;background:url(../images/icon-play.png) no-repeat;}
.slr_img_ovl{float:left;width:100%;height:100%;position:absolute;top:0;left:0;background:#000;opacity:0;}
.slr_edit_img, .slr_delete_img,.slr_delete_video{position:absolute;bottom:10px;height:25px;width:25px;opacity:0;}
.slr_edit_img, .slr_delete_img,.slr_delete_video, .over_txt, .slr_img_ovl{transition:0.2s ease-in;-webkit-transition:0.2s ease-in;-moz-transition:0.2s ease-in;}
.over_txt{float:left;width:100%;text-align:center;position:absolute;top:45%;left:0;color:#fff;font:14px 'open_sanssemibold';z-index:99;opacity:0;}
.over_txt a{background:#7e7e7e;color:#fff;padding:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.slr_edit_img{left:10px;background:url(../images/img_edit.png) no-repeat;}
.slr_delete_img,.slr_delete_video{right:10px;background:url(../images/img_dlt.png) no-repeat;}
.slr_img_blk:hover .slr_img_ovl{opacity:0.4;}
.slr_img_blk:hover .over_txt{opacity:1;}
.slr_img_blk:hover .slr_edit_img, .slr_img_blk:hover  .slr_delete_img,.slr_img_blk:hover  .slr_delete_video{opacity:1;}

.regis_gy .slr_delete_img, .regis_gy .slr_delete_video{right:42%;}
.divider_row{float:left;width:100%;margin:20px 0;border-bottom:1px solid #c4c4c4;}
.gym_pro_img{}
.gym_pro_img {
    width: 400px;
    height: 40px;
    background-color: white;
    box-shadow: 1px 2px 3px #ededed;
    position:relative;
    border: 1px solid #d8d8d8;
}
input[type='file'] {
    width:400px;
    height:40px;
    opacity:0
}
#val {
    width: 400px;
    height:40px;
    position: absolute;
    top: 0;
    left: 0;
    font-size:13px;
    line-height: 25px;
    text-indent: 10px;
    pointer-events: none;
}
#button {
    cursor: pointer;
    display: block;
    width: 90px;
    background-color:#cc3333;
    height:40px;
    color: white;
    position: absolute;
    right:0;
    top: 0;
    font-size:15px;
    line-height:34px;
    text-align: center;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    transition: 500ms all;
}

#button:hover {
  opacity:0.8;
}
.img_size_ins{position: absolute;
    top: 7px;
    right: -121px;color:#cc3333;}

.over_txt_tp{top:25%;}
.over_txt_btm{top:50%;}
.over_txt_btm a{background:#bc212d;}

	/**seller 9**/
.seller_mid{float:left;width:100%;padding:30px;}
.slr_rv_blk{float:left;width:100%;padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #c4c4c4;position:relative;padding-left:60px;}
.revier_img{position:absolute;top:0;left:0;height:47px;width:47px;}
.slr_rv, .rvrr_nm{float:left;width:100%;}
.rvrr_nm{font:14px 'open_sansbold';color:#cc3333;margin-bottom:5px;}
.slr_str{float:left;margin-right:10px;margin-bottom:10px;}
.rvr_str{float:left;width:100%;}
.rvr_str span{font:13px 'open_sanssemibold';color:#666666;}
.slr_rv p{font:13px 'open_sansregular';color:#666666;text-align:justify;}
.slr_rply{float:left;width:100%;margin-top:10px;}
.slr_rply_btn{float:left;background:#999999;color:#fff;font:14px 'open_sansregular';padding:7px 15px 7px 40px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;position:relative;margin-right:10px;}
.slr_rply_btn:before{content:'';position:absolute;top:8px;left:10px;height:20px;width:20px;background:url(../images/btn-rply.png) no-repeat;}
.reply_fld{float:left;width:100%;margin-top:20px;}
.reply_fld input{float:left;width:100%;color:#666666;background:#f0f0f0;padding:10px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;font:14px 'open_sanssemibold';}




.sub_widtfa{float:left;width:48%;margin:0 4% 4% 0;}
.sub_widtfa:nth-child(odd){margin-right:0;}
.mrttptp{margin-top:10px;}
.upload_pics{float:left;width:100%;position:relative;padding-right:150px;}
.pic_up_op{position:absolute;top:0;right:0;}
.custom-file-input {
  visibility: hidden;
  width:132px;
  position: relative;
}
.custom-file-input::before {
  content: 'Upload Photo';
  display: inline-block;
  background:#7e7e7e;
  border: 1px solid #999;
  border-radius: 3px;
  padding:11px 18px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
 font:14px 'open_sanssemibold';
 color:#fff;
  visibility: visible;
  position: absolute;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.traindf_nm{float:left;width:100%;}
.rate_fild{float:left;font:14px 'open_sanssemibold';color:#5e5e5e;}
.rate_fild .reve_txt{margin-left:10px;}
.my_trai_lis{float:left;width:100%;border-top:3px solid #c7c7c7;padding-top:30px;margin:20px 0 0 0;}
.trai_li_single{float:left;width:50%;position:relative;padding-left:100px;margin-bottom:30px;padding-bottom:20px;border-bottom:1px solid #c4c4c4;}

.trai_img_f{float:left;position:absolute;left:0;}
.train_shoe_dis{float:left;width:100%;}
.mtp_train_nm{float:left;width:100%;margin-bottom:10px;font:16px 'open_sanssemibold';color:#bc212d;}
.mtp_train_nm span{float:left;width:100%;font:14px 'open_sansregular';color:#636363;}
.trai_con{float:left;width:100%;margin-bottom:10px;}
.trai_con ul li{float:left;width:100%;font:14px 'open_sansregular';color:#636363;margin-bottom:5px;}
.trai_con ul li span{font-weight:bold;}
.train_msr{float:left;width:100%;}
.merf_hd{float:left;width:100%;font:14px 'open_sanssemibold';color:#bc212d;margin-bottom:10px;}
.train_msr ul li{float:left;width:50%;margin-bottom:5px;font:14px 'open_sansregular';color:#535353;}

.btn_dismmis{background: #aba7a7;color: #fff;padding: 5px 10px;border-radius: 5px;}
.btn_dismmis:hover{color:#fff;}





/**trainer my demo**/
.my_demo_list{float:left;width:100%;padding:20px;}
.my_demo_list .my_trai_lis{margin:0;padding:0;border:none;}
.my_demo_list  .my_acc_djd{color:#191919;font:20px 'open_sanssemibold';border-bottom:2px solid #c4c4c4;padding-bottom:5px;}
.my_demo_list .trai_li_single{width:100%;}




	/**seller 12**/
	
.slr_ofr_blk{float:left;width:100%;border:1px solid #c4c4c4;}	
.slr_ofr_hd{float: left;width: 100%;padding:10px 15px;font:17px 'open_sanssemibold';color: #201f1f;background: red;background: -webkit-linear-gradient(#fff, #E2E2E2);background: -o-linear-gradient(#fff, #E2E2E2);background: -moz-linear-gradient(#fff, #E2E2E2);background: linear-gradient(#fff, #E2E2E2);}
.slr_off_sin{float:left;width:100%;padding:25px 15px;border-bottom:1px solid #c4c4c4;}
.slr_of_blk1{float:left;width:60%;}
.slr_of_blk2{float:left;width:40%;margin-top:17px;}
.ofr_vkhd{float:left;width:100%;font:16px 'open_sanssemibold';color:#bc212d;margin-bottom:5px;}
.slr_of_blk1 p{font:14px 'open_sanssemibold';color:#555555;}
.offer_dt_bk, .sin_roww{float:left;width:100%;}
.offer_dt_bk{border:1px solid #c4c4c4;}
.sin_roww{border-bottom:1px solid #c4c4c4;padding:6px;}
.slr_of_blk2 .sin_roww:last-child{border-bottom:none;}
.slr_ofr_blk .slr_off_sin:last-child{border-bottom:none;}
.cold1, .cold2, .cold3{float:left;}
.cold1, .cold2{margin-right:15px;}
.cold1{font:14px 'open_sansbold';color:#222222;}
.cold2{font:14px 'open_sanssemibold';color:#bc212d;}
.cold3{font:14px 'open_sansbold';color:#747474;text-decoration: line-through;}
.odr_vlidit{float:left;color:#fff;font:13px 'open_sansregular';background:#bc212d;margin-top:15px;padding:5px 10px;}
.anoun_hd{float:left;width:100%;font:16px 'open_sanssemibold';color:#bc212d;}
.anounce_dis{float:left;width:100%;border-top:3px solid #e2e2e2;border-bottom:3px solid #e2e2e2;padding:25px 0;margin:10px 0 30px;}
.anounce_dis .anounce_single{float:left;width:100%;border-bottom:1px solid #c4c4c4;padding-bottom:20px;margin-bottom:20px;}
.anounce_dis .anounce_single:last-child{border-bottom:none;margin-bottom:0;}
.anounce_dis p{font:14px 'open_sanssemibold';color:#555555;}








/**registration**/
::-webkit-input-placeholder {
    color:    #535353;
}
:-moz-placeholder {
    color:   #535353;
}
::-moz-placeholder {
    color:    #535353;
}
:-ms-input-placeholder {
    color:    #535353;
}
.gym_regis{float:left;width:100%;padding:40px;}
.regis_steps{float:left;width:100%;}
.regis_steps ul{float:left;width:100%;box-shadow:0px 0px 5px #c4c4c4;}
.regis_steps ul li{float:left;width:33.33%;padding:17px 30px 18px 15px;font:20px 'open_sanssemibold';color:#858585;position:relative;}
.regis_steps ul li span{background:#858585;color:#fff;height:35px;width:35px;text-align:center;color:#fff;display:inline-block;border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px;font:19px 'open_sanssemibold';padding:5px;margin-left:10px;}
.regis_steps ul li.complete .step_num{display:none;}
.regis_steps ul li .step_checked{display:none;}
.regis_steps ul li.complete .step_checked{display:inline-block;}
.regis_steps ul li:before{content:'';position:absolute;top:0;right:0;height:70px;width:29px;background:url(../images/regi_step_devi.png) no-repeat;}
.regis_steps ul li:last-child:before{background:transparent;}
.regis_steps ul li.active{background:#bc212d;color:#fff;}
.regis_steps ul li.active:before{ }
.regis_steps ul li.active span{background:#fff;color:#bc212d;}
.regi_form_place{float:left;width:100%;margin-top:10px;}
.regis_steps ul li.complete{background:#858585;color:#fff;}
.regis_steps ul li.complete:before{border-top: 33px solid #bc212d;border-bottom: 32px solid #bc212d; border-left:32px solid #858585;}
.regis_steps ul li.thi_com:before{background:url(../images/regis_com_1.png) no-repeat;border:none;}
.regis_steps ul li.complete span{background:#fff;}


.frm_check{float:left;width:100%;margin-bottom:10px;}
.frm_check label{font:14px 'open_sansregular';color:#363636;}
.frm_check input[type=checkbox]:not(old),
.frm_check input[type=radio   ]:not(old){
  width   :16px;
  height  :16px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

.frm_check input[type=checkbox]:not(old) + label{
  display      : inline-block;
  margin-left  : -13px;
  padding-left : 30px;
  background   :url('../images/checks.png') no-repeat 0 -19px;
  line-height  : 16px;
}
.frm_check input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 40px;
  background   :url('../images/checks.png') no-repeat 0 -113px;
  line-height  : 30px;
}

.frm_check input[type=checkbox]:not(old):checked + label{
  background-position :0 -64px;
}

.frm_check input[type=radio]:not(old):checked + label{
  background-position :0 -149px;
}

.set_gym_tym{float:left;width:100%;background:#ebeaea;padding:25px 15px;}
.add_open_tym{float:left;width:100%;border-top:1px solid #cbcbcb;padding:20px 0 0 0;}
.add_gym_blk1, .add_gym_blk2, .add_gym_blk3, .add_gym_blk4{float:left;}
.add_gym_blk1{width:20%;}
.add_gym_blk2{width:30%;}
.add_gym_blk3{width:20%;}
.add_gym_blk4{width:20%;}
.add_blk_status{float: left;
    width: 100%;
    margin-top:75px;}

.days_list{float:left;width:100%;}
.days_nm{float:left;width:100%;text-align:center;text-transform:uppercase;background:#fff;font:14px 'open_sansbold';color:#303030;padding:11px;border-bottom:1px solid #dfdfdf;}
.days_nm:hover{color:#bc212d;}
.sin_tym_rw{float:left;width:100%;margin-bottom:5px;padding:0 7px;}
.tym_ipt{float:left;width:48%;margin:0 1%;}
.time_ip input[type="text"]{float:left;width:100%;padding:9px 10px 9px;font:14px 'open_sansregular';color:#777777;}
.copyall{background: #777777;float:left;
    color: #fff;font: 14px 'open_sansregular'; padding: 7px 25px;border-radius: 4px;
    -webkit-border-radius: 4px;-moz-border-radius: 4px; margin-bottom: 10px;}
.copyall:hover{color:#fff;}
.mrtp3{margin-top:168px;}
.fld_ind{float:left;width:100%;font:14px 'open_sanssemibold';color:#363636;margin-bottom:10px;padding-lefT:7px;}
.cus_timd_blk{float:left;width:30%;margin-bottom:20px;}
.regis_gy ul li{width:14.2%;}
.member_shipfrm{float:left;width:100%;background:#ebeaea;padding:15px;margin:15px 0 30px}
.mem_frm_ip{float:left;width:100%;margin-bottom:10px;}
.flt_lt{float:left;}
.flt_lt a{margin-right:10px;margin-left:0;}


.gym_time_blk{float:left;}
.view_more_time{float:left;margin-left:10px;position:relative;cursor:pointer;}
.time_show_hover{opacity:0;position:absolute;top:50px;left:-90px;width:230px;background:#fff;box-shadow:0px 0px 10px #000;z-index:9;padding:20px 10px 10px;transition:0.15s ease-in;}
.time_line_gym{float:left;width:100%;margin-bottom:10px;}
.view_more_time:hover .time_show_hover{opacity:1;top:20px;}




/**light box css**/
.lightbox_mian_hd{float:left;width:100%;font:22px 'open_sanssemibold';color:#191919;padding:25px;}
.logpop_btm{float:left;width:100%;padding:25px;}
.logpop_btm_lt, .logpop_btm_rt{float:left;width:50%;}
.logpop_btm_lt{padding-right:50px;position:relative;}
.logpop_btm_rt{padding-left:50px;}
.mid_or{background: #ededed;font: 14px 'open_sanssemibold';color: #353535;height: 40px;position: absolute;top:20px;right:-25px;width: 40px;border-radius: 22px;text-align: center;padding: 10px;}

.come_soon{float:left;width:100%;font:40px 'open_sanslight';color:#4d4d4d;padding:25px;text-align:center;}
.comesonee_sub{float:left;width:100%;}
.comesonee_sub span{font:40px 'open_Sanssemibold';color:#bc212d;position:relative;}
.comesonee_sub span:before, .comesonee_sub span:after{content:'';position:absolute;top:27px;height:2px;width:160px;background:#d6d6d6;}
.comesonee_sub span:before{left:-180px;}
.comesonee_sub span:after{right:-180px;}
.coming_calender{float:left;width:100%;padding:10px 25px 25px;}
.list_calndr{float:left;border:1px solid #c4c4c4;width:140px;margin:0 9px;}
.list_tp{float:left;width:100%;background:#bc212d;padding:10px;font:20px 'open_Sanssemibold';color:#fff;text-align:center;}
.list_tp span{float:left;width:100%;font:20px 'open_sanslight';}
.list_calbtm{float:left;width:100%;padding:15px;background:#f8f8f8;}
.launch_dt{float:left;width:100%;text-align:center;font:14px 'open_sanssemibold';color:#464646;margin-bottom:5px;}
.launch_cnimg{float:left;width:100%;text-align:center;}
.wrree{margin:10px 0 0;}
.choose_nrgym{float:left;width:100%;padding:0;}
.slr_log_main{float:left;width:100%;padding:60px;}
.srl_log_main{float:left;width:100%;padding-right:30px;}
.log_rt_bnr{float:left;width:100%;padding:0 0 0 50px;border-left:1px solid #c4c4c4;}
.log_rt_bnr img{width:100%;}
.slr_log_main{float:left;width:100%;}
.log_ip_cov{float:left;width:100%;margin-bottom:10px;}
.slr_logreg{width:auto;min-width:170px;}
.slr_logreg .frm_regis{padding:10px 20px;text-transform:uppercase;}
.slr_newew{font:18px 'open_Sanssemibold';color:#353535;}
.slr_newew a{color:#bc212d;}
.for_pwds{padding:10px 0;}
















@media (min-width:1200px) {
.container{width:1245px !important;}

}	
@media (max-width:1200px) {
.fit_shp_hd{left:30%;}
.resp-tabs-list li{font:17px "open_sanssemibold" !important;}
.art_nm{font-size:17px;margin-bottom:3px;}
.pics_lt ul li{margin:0 3px 10px;}
.main_srch_con{bottom:100px;}
.arti_dt_hd{font-size:24px;}
.social-share img{width:100%;}
.arti_highlight{font-size:20px;}
}


@media (max-width:1024px) {
.hm_ban_pad_new{display:block !important}
.hm_ban_web_new, .hm_ban_mob_new{display:none !important;}
.classpadn{display:block;} .classwebn, .classmobn{display:none;}

}




@media (max-width:991px) {
.main_srch_con{bottom:70px;}
.srch_txt span{font-size:26px;}
.srch_txt{font-size:18px;}
.mob_menu_new{display:block;} 
.mnew_menurigh, .mnemfdfk{display:none;}
.wrkout_nm{font-size:14px;}
.resp-tabs-list li{font-size:12px !important;padding:13px 10px 13px 40px !important;}
.sec_head{font-size:28px;}
.add_fit_train span{font-size:34px;letter-spacing:-3px;}
.foot_links ul li{width:50%;}
.fit_shp_hd{left:17%;}
.cat_blk1{width:28%;}
.cat_blk2{width:72%;}
.pro_ldis{width:100%;}
.cat_blk3{width:100%;}
.fit_hd_da{font-size:26px;padding:15px 59px 15px;}

.src_ittxt{margin-bottom:10px;}

.intrnl_srch .ban_srch, .ban_srch{width:100%;}
.intrnl_srch .ban_srch{width:640px;}
.sb_wrapper{width:470px;}
.sb_wrapper input[type="text"], ul.sb_dropdown{width:400px;}
.gym_nm{font-size:26px;}
.ban_gym_ad{margin-top:3px;font-size:16px;}
.sms{margin:6px 0 0 15px;}
.req_dem{padding:7px 15px;}
.ban_gym_stdt li a.ban_atg{height:36px;width:36px;}
.ban_gym_stdt li a.pro_edit{background-position:7px 6px;}
.ban_gym_stdt li a.pro_sh{background-position:-36px 6px;}
.int_faci_blk ul li{width:50%;}
.int_membr_blk ul li{width:48%;}
.cmt_lt_img{width:170px;padding:20px 10px;}
.cmt_rt_det{padding:0 0 0 170px;}
.rt_sub_hol{padding:10px 10px 10px 15px;}
.like_ds_btn ul li{margin:15px 7px 10px 0;}
.int_lt{width:68%;}
.int_rtt{width:32%;padding:20px 10px;}
.pics_lt ul li{width:140px;}
.pics_lt ul li img{width:100%;}
.like_ds_btn ul li a.like_in{padding:7px 5px 7px 30px;}
.main_int_body{margin-top:20px;}
.art_sing_img{width:160px;}
.arti_sin_des{padding-left:180px;}
.arti_nm{font-size:20px;}
.arti_by ul li.arti_vff{min-height:28px;}
.sec_head{margin-bottom:60px;}
.view_all_btn{top:42px;}
.tp_at_tx{bottom:10px;}
.blk_txt{font-size:16px;}
.sub_blk_txt{font-size:13px;}
.arti_dt_hd{font-size:20px;line-height:24px;}
.rec_ar_head{font-size:14px;}
.rec_head{font-size:20px;}
.regis_gy ul li{width:25%;}
.copyall{font-size:12px;padding:7px 5px;text-align:center;}
.gsi-step-indicator.triangle li{margin:4px 1px 4px 0 !important;}
}
@media (max-width:767px) {
.footer_tp{display:none;}
.copyrght_right{display:none;}
.copyrght_left{width:90%;text-align:left;}
.footer_tp{display:none;}
.foot_sr_sh {
    background:url(../images/foot-ar-d.png) 50% no-repeat;
    cursor: pointer;
    float: right;
    height: 22px;
    width: 28px;
}
.mo_foot_shw{display:block !important;}
.foot_sr_sh_2 {
    background:url(../images/foot-ar-b.png) 50% no-repeat;
   cursor:pointer;
    float: right;
    height: 25px;
    margin-top:0px;
    width: 25px;
}
.socila_icn{margin-top:20px;}
.menu_web{display:none;}
header{display:none;height:none;}
.main_int_body{margin-top:0px;}


.mo_srch{top:inherit;bottom:120px;}
#home_banner{position:relative;}
.mo_srch .ban_srch{width:300px;padding:0;}
.mo_srch .main, .mo_srch .search, .mo_srch .box, .mo_srch .sb_wrapper{width:100%;}
.mo_srch .main{margin-bottom:10px;}
.mo_srch input.sb_search{margin:10px 0 0 0px;width:100%;height:40px;font:16px 'open_sansregular';text-transform:uppercase;letter-spacing:1px;color:#fff;background:#cc3333;}
.mo_srch .search .results{top:39px;z-index:99;}
.mo_srch .search input{height:40px;background:#ffffff url("../images/search-down.png") no-repeat scroll 97% 16px;}
.mo_srch .sb_wrapper{left:inherit;}
.mo_srch .sb_wrapper input[type="text"], .mo_srch ul.sb_dropdown{width:100%;}
.mo_srch .sb_input{height:40px;}
.mo_srch span.sb_up, .mo_srch span.sb_down{right:10px;top:17px;}
.mo_srch .sb_dropdown{position:absolute;top:40px;z-index:99;}
.intrnl_srch .sb_wrapper{position:inherit !important;}
.intrnl_srch input.sb_search{background:#902323;}
input.sb_search{text-indent:0;}
.cat_blk1, .cat_blk2{width:100%;}
.sing_img{position:inherit;}
.list_sin_des{padding-left:0;}
.sin_srt_rt{float:left;margin:0 0 10px 0;}
.zym_lt_cat ul li{margin-bottom:5px;padding:5px;}
.book_demo{float:left;}
.sing_img, .sing_img img{width:100%;}
.sing_img{margin-bottom:10px;}
.sug_art_blk{padding-left:0;}
.arti_img{position:inherit;height:auto;}
.btm_subs{margin-top:20px;}
.brr_rt{border-bottom:1px solid #c5c5c5;border-right:none;}
.lft_fil_se{display:none;}
.cat_fil_hdd{padding:0;}
.cat_fil_hdd span{display:none;}
.menu_mo_hide{display:block;padding:10px;float:left;width:100%;background:rgba(0, 0, 0, 0) url("../images/mobile-menu-fil.png") no-repeat scroll 97% 16px;cursor:pointer;}
.com_rt{float:left;width:100%;margin-top:10px;}
.shw_rsttc{font-size:20px;}
.int_lt, .int_rtt{width:100%;}
.in_lt_tp{padding:0 10px;}
.pics_lt ul li{width:126px;}
.int_faci_blk ul li{width:100%;}

.cmt_lt_img{position:inherit;float:left;width:100%;border-bottom:1px solid #c4c4c4;}
.cmt_rt_det{padding:0;}
.art_sing_img{position:inherit;margin-bottom:10px;width:100%;}
.arti_sin_des{padding-left:0;}
.arti_sin_des{margin-bottom:0;}
.arti_img{margin-bottom:10px;}
.arti_img, .arti_img img{width:100%;}
.copyrght_left{font-size:13px;}
.srch_txt span{font-size:19px;}
.zym_lt_cat{margin-bottom:10px;}
.arti_highlight{font:14px 'open_sanssemibold';padding:7px 7px 7px 15px;}
.rec_arti_blk ul li{width:100%;margin-right:0;margin-bottom:10px;}
.sin_rt_dis{padding-right:0;}
.sin_srt_rt{position:inherit;}
.reve_txt, .revi_nm{float:left;}
.rec_cros .imi_gym_sug{width:100%;margin-right:0;}
.my_acc_hdr{background:#333333;padding:25px 0;}
.my_acc_nm{width:60%;}
.my_acc_nm{font-size:18px;}
.my_acc_nm span{float:left;width:100%;}
.my_acc_lc{float:left;width:100%;margin-top:5px;}
.my_acc_rev{width:40%;margin:0;float:left;}
.my_acc_rev span{float:left;width:100%;text-align:center;color:#fff;font:14px 'open_sansregular';}
.my_acc_rev .btn_link{padding:10px 2px 10px 39px;display:table;width:10px;margin:0 auto;height:35px;margin-bottom:10px;}
.profile_mid_blk{min-height:auto;}
.grn_sub{width:100%;margin-bottom:10px;}
.diet_paln_list .arti_by ul li:first-child{width:100%;margin-bottom:15px;}
.diet_paln_list .arti_by ul li{margin-right:5px;}
.imi_gym_sug4 .cal_sub{padding:7px 8px;}
.arti_by ul li{padding-left:27px;}
.my_scc_frm ul li.halftwo, .my_scc_frm ul li.halfthr{width:100%;}


.seller_mid{padding:15px 10px;}
.my_scc_frm ul li{padding-right:0;}
.slr_of_blk1, .slr_of_blk2{width:100%;}
.slr_pic_blk ul li{width:50%;}
.slr_mo_tp .my_acc_nm{width:100%;padding:0 8px;margin-bottom:10px;}
.slr_mo_tp .rt_accty{margin:10px 0 0 0;}
.gym_regis{padding:10px;}
.regis_steps ul li{width:100%;}
.regi_form_place{margin-top:20px;}
.member_shipfrm{padding:15px 10px;}
.cus_timd_blk{width:100%;}
.add_gym_blk1, .add_gym_blk2, .add_gym_blk4{width:100%;}
.add_gym_blk1{margin-bottom:10px;}

.days_list{margin-bottom:10px;}
.fld_ind{padding-left:0;}
.sin_tym_rw{padding:0;}
}


.change_pro_ban_img {
    float: left;
    padding: 30px;
    width: 100%;
}
.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}
.dsdfd {
    float: left;
}
.cropit-preview-image-container {
    cursor: move;
}
.image-size-label {
    margin-top: 10px;
}
.change_pro_ban_img input {
    display: block;
}
.update_imgsaa {
    float: left;
    text-align: center;
    width: 100%;
}
.change_pro_ban_img button[type="submit"] {
    background: #cc3333 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font: 14px "open_sanssemibold";
    margin: 10px auto;
    padding: 7px 20px;
    text-transform: uppercase;
    width: 100px;
}
#result {
    margin-top: 10px;
    width: 100%;
}
#result-data {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}
.change_pro_idd {
    margin-bottom: 20px;
}